In [9]:
import pandas as pd
master_file = 'Master_File.xlsx'
Homeless = pd.read_excel(master_file)
Homeless.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Local Authority Homelessness Statistics (England),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Select a local authority:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
2+3

5

In [20]:
Homeless1011 = pd.read_excel(master_file, sheet_name = 10, header = 2)
Homeless1011.head()

,New ONS Code,Old ONS Code,Local Authority,Region,"Number of households (000s, mid-2017)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 December,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,NaN,Adur,SE,27.967,NaN,38,7,10,12,...,62,2.2169,NaN,ENG,2.455137,3.501390,NaN,56600.0,80720.0,23053.704
1,E07000026,NaN,Allerdale,NW,43.237,NaN,22,24,29,31,...,6,0.13877,NaN,EE,2.419699,2.314989,NaN,6170.0,5903.0,2549.904
2,E07000032,NaN,Amber Valley,EM,54.610,NaN,76,--,--,87,...,12,0.21974,NaN,EM,2.324501,0.626526,NaN,4608.0,1242.0,1982.361
3,E07000224,NaN,Arun,SE,70.492,NaN,204,25,79,430,...,128,1.81581,NaN,L,4.444522,15.927306,NaN,15470.0,55438.0,3480.689
4,E07000170,NaN,Ashfield,EM,53.950,NaN,123,14,6,20,...,22,0.407785,NaN,NE,1.051352,0.121044,NaN,1216.0,140.0,1156.606

In [18]:
import pandas as pd
master_file = 'Master_File.xlsx'
Homeless = pd.read_excel(master_file)
Homeless1011 = pd.read_excel(master_file, sheet_name = 19, header = 2)
Homeless1011.head(10)

,New ONS Code,Old ONS Code,Local Authority,Region,"Number of households (000s, mid-2017)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 December,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,NaN,Adur,SE,27.967,NaN,38,7,10,12,...,62,2.2169,NaN,ENG,2.455137,3.501390,NaN,56600.0,80720.0,23053.704
1,E07000026,NaN,Allerdale,NW,43.237,NaN,22,24,29,31,...,6,0.13877,NaN,EE,2.419699,2.314989,NaN,6170.0,5903.0,2549.904
2,E07000032,NaN,Amber Valley,EM,54.610,NaN,76,--,--,87,...,12,0.21974,NaN,EM,2.324501,0.626526,NaN,4608.0,1242.0,1982.361
3,E07000224,NaN,Arun,SE,70.492,NaN,204,25,79,430,...,128,1.81581,NaN,L,4.444522,15.927306,NaN,15470.0,55438.0,3480.689
4,E07000170,NaN,Ashfield,EM,53.950,NaN,123,14,6,20,...,22,0.407785,NaN,NE,1.051352,0.121044,NaN,1216.0,140.0,1156.606
5,E07000105,NaN,Ashford,SE,52.130,NaN,160,11,19,51,...,167,3.20353,NaN,NW,1.706688,0.819649,NaN,5293.0,2542.0,3101.328
6,E07000004,NaN,Aylesbury Vale,SE,77.225,NaN,150,6,32,22,...,78,1.01004,NaN,SE,2.070766,2.268900,NaN,7734.0,8474.0,3734.849
7,E07000200,NaN,Babergh,EE,39.480,NaN,72,--,--,28,...,36,0.911854,NaN,SW,1.770178,1.106730,NaN,4205.0,2629.0,2375.467
8,E09000002,NaN,Barking and Dagenham,L,76.657,NaN,512,115,172,227,...,1876,24.4727,NaN,WM,3.368985,1.438094,NaN,8026.0,3426.0,2382.320
9,E09000003,NaN,Barnet,L,146.655,NaN,444,28,98,189,...,2579,17.5855,NaN,YH,1.691133,0.376826,NaN,3873.0,863.0,2290.180

In [20]:
Homeless1718=pd.read_excel(master_file, sheet_name = 19, header = 5)
Homeless1718.head(10)

,ONS code,Local Authority,Region,Unnamed: 3,Number of households (2014-based household interim projections for 2017)1 (000s),White,Black or Black British,Asian or Asian British,Mixed,Other ethnic origin,...,"Eligible, but not homeless",Total decisions,Bed and breakfast (including shared annexe),Hostels,LA/HA stock,Private sector leased (by LA or HA),Other types (including private landlord),Total in temporary accommodation,"Number per 1,000 households.1",Duty owed but no accommodation has been secured at end of March 2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E92000001,England,England,R,23464.3,35030,8020,5300,2110,2450,...,25720,109470,6130,5690,15650,25320,27940,80720,3.44,9560
2,E12000007,London,London,R,3651.98,4720,4610,2400,840,1120,...,4910,26140,2590,3160,7720,20620,21360,55440,15.18,1250
3,NaN,Rest of England,Rest of England,R,19812.3,30310,3410,2890,1280,1330,...,20810,83330,3540,2530,7940,4700,6580,25280,1.28,8310
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E12000001,North East,NE,NaN,1168.41,1030,50,50,10,40,...,1190,2050,20,10,100,10,0,140,0.119821,260
6,E12000002,North West,NW,NaN,3132.63,3760,500,360,150,330,...,3580,7840,340,490,530,30,1170,2560,0.817204,590
7,E12000003,Yorkshire and The Humber,YH,NaN,2316.27,3020,190,340,100,120,...,2100,5180,170,70,380,130,120,870,0.375604,500
8,E12000004,East Midlands,EM,R,2001.58,3770,320,210,150,30,...,1660,3160,240,270,450,160,150,1270,0.634499,670
9,E12000005,West Midlands,WM,R,2409.12,4570,1120,1060,380,420,...,3700,7140,870,210,1190,840,320,3430,1.42376,4190

In [10]:
Local_Auth_File = 'Master File with All Data 20th Sep.xlsx'
Local_Auth = pd.read_excel(Local_Auth_File,header = 2)
Local_Auth.head()

   Local Authority Exec Control  Con    Labour  LibDem  UKIP  Green  Others
0  Buckinghamshire   LC     Con      41       1       4   NaN    NaN       3
1   Cambridgeshire   AA     Con      36       7      15   NaN    NaN       3
2          Cumbria   LC     NaN      37      26      16   NaN    NaN       5
3       Derbyshire   LC     Con      37      24       3   NaN    NaN     NaN
4            Devon   LC     Con      42       7       7   NaN      1       3

In [29]:
Unemployment_df=pd.read_excel('unemploymentdata_LA.xls', sheet_name = 6, header = 2)
Unemployment_df.head(10)

        Local Authority  Unemployment  Unemployment rate (%)
0         County Durham       12100.0               4.800000
1            Darlington        2700.0               5.176182
2            Hartlepool        3500.0               8.653962
3         Middlesbrough        4600.0               7.254561
4        Northumberland        6800.0               4.500000
5  Redcar and Cleveland        6800.0               5.621733
6      Stockton-on-Tees        4900.0               5.206665
7             Gateshead        5000.0               4.924795
8   Newcastle upon Tyne        9500.0               6.285067
9        North Tyneside        5100.0               4.953335

In [41]:
Benefits_spending_df=pd.read_excel('benefit-expenditure-by-local-authority-2017-18 v2.xlsx',sheet_name=17,header=2)
Benefits_spending_df.head()

,Area Code,Local Authority,Total,Attendance Allowance,Bereavement Benefit/Widow's Benefit,Carer's Allowance,Unnamed: 6,Unnamed: 7,Disability Living Allowance,of which children,...,of which working age.1,of which pensioners.1,State Pension,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Winter Fuel Payments
0,NaN,GREAT BRITAIN,169881.355033,5529.318571,502.551704,2830.015353,NaN,NaN,9379.593293,1965.064894,...,13.441241,106.144736,93800.446975,NaN,NaN,NaN,NaN,NaN,NaN,2022.526695
1,NaN,Of Which claimants living abroad or unknown,4030.926357,10.657510,19.514535,1.451696,NaN,NaN,12.298238,0.980671,...,0.044967,0.234404,3948.780042,NaN,NaN,NaN,NaN,NaN,NaN,8.129550
2,NaN,NORTH EAST ENGLAND,7901.233209,268.419504,22.595006,172.359344,NaN,NaN,495.360118,94.925516,...,0.440113,5.834100,4000.763421,NaN,NaN,NaN,NaN,NaN,NaN,89.294457
3,E06000047,County Durham UA,1607.696012,53.687852,4.772220,35.139467,NaN,NaN,109.257899,18.324860,...,0.124254,1.320876,823.374721,NaN,NaN,NaN,NaN,NaN,NaN,18.169241
4,E06000005,Darlington UA,303.735708,9.098713,0.958542,5.625368,NaN,NaN,15.985508,3.695359,...,0.011296,0.142956,164.875851,NaN,NaN,NaN,NaN,NaN,NaN,3.676542

In [13]:
df2 = Local_Auth.set_index('Local Authority')

In [19]:
df1 = Homeless1011.set_index('Local Authority')

In [ ]:
df3=Homeless1718.set_index('Local Authority')

In [30]:
df4=Unemployment_df.set_index('Local Authority')

In [42]:
df5=Benefits_spending_df.set_index('Local Authority')

In [23]:
interim_df_2 = pd.merge(df2,df3,how = 'outer', left_index=True,right_index=True)
interim_df_2.shape

(570, 32)

In [24]:
interim_df_2.tail(20)

,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,ONS code,Region,...,"Eligible, but not homeless",Total decisions,Bed and breakfast (including shared annexe),Hostels,LA/HA stock,Private sector leased (by LA or HA),Other types (including private landlord),Total in temporary accommodation,"Number per 1,000 households.1",Duty owed but no accommodation has been secured at end of March 2018
Local Authority,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Source,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Contact,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Source,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Contact,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,Notes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,Source,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,Contact,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
print (interim_df_2)

                              Exec         Control   Con     Labour   LibDem   \
Local Authority
Adur                            LC             Con       16        4      NaN
Allerdale                       LC             Lab       15       29      NaN
Amber Valley                    LC             Con       23       22      NaN
Arun                            LC             Con       40        1        7
Ashfield                        LC             Lab        4       21        5
Ashford                         LC             Con       34        3        1
Aylesbury Vale                  LC             Con       42        2       11
Babergh                         AA             Con       30        2        3
Barking & Dagenham              LC             Lab      NaN       51      NaN
Barking and Dagenham           NaN             NaN      NaN      NaN      NaN
Barnet                          LC             NaN       31       30        1
Barnsley                        LC             Lab        4       55      NaN
Barrow-in-Furness               AA             Lab        8       28      NaN
Basildon                        LC  Con (minority)       18        9      NaN
Basingstoke & Deane             LC             Con       32       20        6
Basingstoke and Deane          NaN             NaN      NaN      NaN      NaN
Bassetlaw                       LC             Lab       12       33      NaN
Bath & N.E. Somerset            LC             Con       37        6       16
Bath and North East Somerset   NaN             NaN      NaN      NaN      NaN
Bedford                         MC        LD + Lab       15       14        9
Bexley                          LC             Con       45       15      NaN
Birmingham                      LC             Lab       29       80       10
Blaby                           LC             Con       29        6        4
Blackburn with Darwen           LC             Lab       16       44        3
Blackpool                       LC             Lab       13       29      NaN
Bolsover                        LC             Lab      NaN       32      NaN
Bolton                          LC             Lab       16       35        3
Boston                          LC  Con (minority)       13        2      NaN
Bournemouth                     LC             Con       52      NaN      NaN
Bracknell Forest                LC             Con       41        1      NaN
...                            ...             ...      ...      ...      ...
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                            NaN             NaN      NaN      NaN      NaN
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem
NaN                           Exec         Control   Con     Labour   LibDem

                              UKIP   Green   Others    ONS code Region  ...  \
Local Authority                                                         ...
Adur                              7     NaN        2  E07000223     SE  ...
Allerdale                         3     NaN        9  E07000026     NW  ...
Amber Valley                    NaN     NaN      NaN  E07000032     EM  ...
Arun                              4     NaN        2  E07000224     SE  ...
Ashfield                        NaN     NaN        5  E07000170     EM  ...
Ashford                           2     NaN        3  E07000105     SE  ...
Aylesbury Vale                    3     NaN        1  E07000004     SE  ...
Babergh                         NaN     NaN        8  E07000200     EE  ...
Barking & Dagenham              NaN     NaN      NaN        NaN    NaN  ...
Barking and Dagenham            NaN     NaN      NaN  E09000002      L  ...
Barnet                          NaN     NaN        1  E09000003      L  ...
Barnsley                        NaN     NaN        4  E08000016     YH  ...
Barrow-in-Furness               NaN     NaN      NaN  E07000027     NW  ...
Basildon                         10     NaN        5  E07000066     EE  ...
Basingstoke & Deane             NaN     NaN        2        NaN    NaN  ...
Basingstoke and Deane           NaN     NaN      NaN  E07000084     SE  ...
Bassetlaw                       NaN     NaN        3  E07000171     EM  ...
Bath & N.E. Somerset            NaN       1        5        NaN    NaN  ...
Bath and North East Somerset    NaN     NaN      NaN  E06000022     SW  ...
Bedford                         NaN     NaN        2  E06000055     EE  ...
Bexley                            3     NaN      NaN  E09000004      L  ...
Birmingham                      NaN     NaN        1  E08000025     WM  ...
Blaby                           NaN     NaN      NaN  E07000129     EM  ...
Blackburn with Darwen           NaN     NaN        1  E06000008     NW  ...
Blackpool                       NaN     NaN      NaN  E06000009     NW  ...
Bolsover                        NaN     NaN        5  E07000033     EM  ...
Bolton                            5     NaN        1  E08000001     NW  ...
Boston                           13     NaN        2  E07000136     EM  ...
Bournemouth                     NaN       1        1  E06000028     SW  ...
Bracknell Forest                NaN     NaN      NaN  E06000036     SE  ...
...                             ...     ...      ...        ...    ...  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN      Notes    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN     Source    NaN  ...
NaN                             NaN     NaN      NaN   Contact     NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN      Notes    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN     Source    NaN  ...
NaN                             NaN     NaN      NaN   Contact     NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN      Notes    NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                             NaN     NaN      NaN     Source    NaN  ...
NaN                             NaN     NaN      NaN   Contact     NaN  ...
NaN                             NaN     NaN      NaN        NaN    NaN  ...
NaN                           UKIP   Green   Others         NaN    NaN  ...
NaN                           UKIP   Green   Others         NaN    NaN  ...
NaN                           UKIP   Green   Others         NaN    NaN  ...
NaN                           UKIP   Green   Others       Notes    NaN  ...
NaN                           UKIP   Green   Others         NaN    NaN  ...
NaN                           UKIP   Green   Others      Source    NaN  ...
NaN                           UKIP   Green   Others    Contact     NaN  ...
NaN                           UKIP   Green   Others         NaN    NaN  ...

                             Eligible, but not homeless Total decisions  \
Local Authority
Adur                                                 12              67
Allerdale                                            31             106
Amber Valley                                         87             240
Arun                                                430             738
Ashfield                                             20             163
Ashford                                              51             241
Aylesbury Vale                                       22             210
Babergh                                              28             106
Barking & Dagenham                                  NaN             NaN
Barking and Dagenham                                227            1026
Barnet                                              189             759
Barnsley                                             57             124
Barrow-in-Furness                                    25              47
Basildon                                             26             299
Basingstoke & Deane                                 NaN             NaN
Basingstoke and Deane                                34             209
Bassetlaw                                            49             152
Bath & N.E. Somerset                                NaN             NaN
Bath and North East Somerset                         19             121
Bedford                                              86             379
Bexley                                               44             731
Birmingham                                         1104            5148
Blaby                                                13              49
Blackburn with Darwen                                85             141
Blackpool                                           178             792
Bolsover                                             --              38
Bolton                                              161             520
Boston                                               60              99
Bournemouth                                          66             529
Bracknell Forest                                     16             120
...                                                 ...             ...
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN
NaN                                                 NaN             NaN

                             Bed and breakfast (including shared annexe)  \
Local Authority
Adur                                                                  --
Allerdale                                                             --
Amber Valley                                                          --
Arun                                                                  --
Ashfield                                                              --
Ashford                                                               --
Aylesbury Vale                                                         6
Babergh                                                               11
Barking & Dagenham                                                   NaN
Barking and Dagenham                                                  --
Barnet                                                                --
Barnsley                                                              --
Barrow-in-Furness                                                     --
Basildon                                                              --
Basingstoke & Deane                                                  NaN
Basingstoke and Deane                                                  5
Bassetlaw                                                             --
Bath & N.E. Somerset                                                 NaN
Bath and North East Somerset                                          12
Bedford                                                               30
Bexley                                                               124
Birmingham                                                           574
Blaby                                                                 --
Blackburn with Darwen                                                 --
Blackpool                                                              6
Bolsover                                                              --
Bolton                                                                --
Boston                                                                --
Bournemouth                                                           51
Bracknell Forest                                                       5
...                                                                  ...
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN
NaN                                                                  NaN

                             Hostels LA/HA stock  \
Local Authority
Adur                              --          --
Allerdale                         --          --
Amber Valley                      --           8
Arun                              32          28
Ashfield                          --          --
Ashford                           --          48
Aylesbury Vale                    --          71
Babergh                           --          17
Barking & Dagenham               NaN         NaN
Barking and Dagenham             153         269
Barnet                            --         876
Barnsley                           6           7
Barrow-in-Furness                 --           7
Basildon                          39         365
Basingstoke & Deane              NaN         NaN
Basingstoke and Deane             --          87
Bassetlaw                         --          --
Bath & N.E. Somerset             NaN         NaN
Bath and North East Somerset      15          --
Bedford                           --          --
Bexley                            --          --
Birmingham                       143         673
Blaby                             --          --
Blackburn with Darwen             --          --
Blackpool                         30          --

In [26]:
interim_df_2.head(50)

,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,ONS code,Region,...,"Eligible, but not homeless",Total decisions,Bed and breakfast (including shared annexe),Hostels,LA/HA stock,Private sector leased (by LA or HA),Other types (including private landlord),Total in temporary accommodation,"Number per 1,000 households.1",Duty owed but no accommodation has been secured at end of March 2018
Local Authority,,,,,,,,,,,,,,,,,,,,,
Adur,LC,Con,16,4,NaN,7,NaN,2,E07000223,SE,...,12,67,--,--,--,20,32,62,2.17,--
Allerdale,LC,Lab,15,29,NaN,3,NaN,9,E07000026,NW,...,31,106,--,--,--,--,--,6,0.14,--
Amber Valley,LC,Con,23,22,NaN,NaN,NaN,NaN,E07000032,EM,...,87,240,--,--,8,--,--,12,0.22,--
Arun,LC,Con,40,1,7,4,NaN,2,E07000224,SE,...,430,738,--,32,28,--,44,128,1.79,87
Ashfield,LC,Lab,4,21,5,NaN,NaN,5,E07000170,EM,...,20,163,--,--,--,--,--,22,0.41,27
Ashford,LC,Con,34,3,1,2,NaN,3,E07000105,SE,...,51,241,--,--,48,47,56,167,3.16,47
Aylesbury Vale,LC,Con,42,2,11,3,NaN,1,E07000004,SE,...,22,210,6,--,71,--,--,78,1.01,23
Babergh,AA,Con,30,2,3,NaN,NaN,8,E07000200,EE,...,28,106,11,--,17,--,--,36,0.92,17
Barking & Dagenham,LC,Lab,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E09000002,L,...,227,1026,--,153,269,1444,--,1876,23.86,--
Barnet,LC,NaN,31,30,1,NaN,NaN,1,E09000003,L,...,189,759,--,--,876,817,867,2579,16.7,--
Barnsley,LC,Lab,4,55,NaN,NaN,NaN,4,E08000016,YH,...,57,124,--,6,7,--,--,17,0.16,--
Barrow-in-Furness,AA,Lab,8,28,NaN,NaN,NaN,NaN,E07000027,NW,...,25,47,--,--,7,--,--,8,0.26,--
Basildon,LC,Con (minority),18,9,NaN,10,NaN,5,E07000066,EE,...,26,299,--,39,365,--,--,404,5.19,--
Basingstoke & Deane,LC,Con,32,20,6,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Basingstoke and Deane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E07000084,SE,...,34,209,5,--,87,--,14,111,1.49,--
Bassetlaw,LC,Lab,12,33,NaN,NaN,NaN,3,E07000171,EM,...,49,152,--,--,--,--,--,6,0.12,8
Bath & N.E. Somerset,LC,Con,37,6,16,NaN,1,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bath and North East Somerset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E06000022,SW,...,19,121,12,15,--,--,--,31,0.4,8
Bedford,MC,LD + Lab,15,14,9,NaN,NaN,2,E06000055,EE,...,86,379,30,--,--,83,18,132,1.88,50
Bexley,LC,Con,45,15,NaN,3,NaN,NaN,E09000004,L,...,44,731,124,--,--,402,690,1234,12.44,--
Birmingham,LC,Lab,29,80,10,NaN,NaN,1,E08000025,WM,...,1104,5148,574,143,673,660,8,2058,4.72,3026
Blaby,LC,Con,29,6,4,NaN,NaN,NaN,E07000129,EM,...,13,49,--,--,--,--,--,--,--,6
Blackburn with Darwen,LC,Lab,16,44,3,NaN,NaN,1,E06000008,NW,...,85,141,--,--,--,--,--,5,0.09,9
Blackpool,LC,Lab,13,29,NaN,NaN,NaN,NaN,E06000009,NW,...,178,792,6,30,--,--,--,36,0.56,7
Bolsover,LC,Lab,NaN,32,NaN,NaN,NaN,5,E07000033,EM,...,--,38,--,--,--,--,--,--,--,--
Bolton,LC,Lab,16,35,3,5,NaN,1,E08000001,NW,...,161,520,--,13,48,--,--,62,0.52,39
Boston,LC,Con (minority),13,2,NaN,13,NaN,2,E07000136,EM,...,60,99,--,--,9,--,--,12,0.42,--
Bournemouth,LC,Con,52,NaN,NaN,NaN,1,1,E06000028,SW,...,66,529,51,--,112,9,--,178,1.98,--
Bracknell Forest,LC,Con,41,1,NaN,NaN,NaN,NaN,E06000036,SE,...,16,120,5,19,47,29,33,133,2.66,11
Bradford,LC,Lab,21,49,10,1,3,6,E08000032,YH,...,260,809,45,--,--,--,71,116,0.56,83
Braintree,LC,Con,43,3,NaN,NaN,1,RA 2,E07000067,EE,...,9,88,--,--,27,--,--,29,0.45,--
Breckland,LC,Con,41,3,NaN,4,NaN,1,E07000143,EE,...,40,130,--,--,--,--,--,--,--,--
Brent,LC,Lab,6,56,1,NaN,NaN,NaN,E09000005,L,...,428,1160,53,59,240,1331,767,2450,19.77,12
Brentwood,AA,Con,24,2,10,NaN,NaN,1,E07000068,EE,...,11,44,6,--,41,11,--,60,1.84,--
Brighton & Hove,AA,Lab (minority),20,23,NaN,NaN,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brighton and Hove,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E06000043,SE,...,186,845,52,--,--,892,716,1705,13.17,--
Bristol,MC,Lab,14,37,8,NaN,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Bristol, City of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E06000023,SW,...,31,845,10,85,184,15,223,517,2.66,387
Broadland,LC,Con,42,NaN,5,NaN,NaN,NaN,E07000144,EE,...,8,126,--,6,--,41,9,59,1.06,--
Bromley,LC,Con,51,7,NaN,2,NaN,NaN,E09000006,L,...,241,1033,--,--,384,229,880,1522,10.82,287
Bromsgrove,LC,Con,17,7,NaN,NaN,NaN,7,E07000234,WM,...,20,107,--,6,13,--,--,19,0.48,--
Broxbourne,LC,Con,27,2,NaN,1,NaN,NaN,E07000095,EE,...,69,365,17,40,137,89,175,458,11.45,86
Broxtowe,LC,Con,27,12,4,NaN,NaN,1,E07000172,EM,...,13,46,5,--,--,--,8,13,0.27,--
Buckinghamshire,LC,Con,41,1,4,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Burnley,LC,Lab,4,28,12,1,NaN,NaN,E07000117,NW,...,--,125,--,10,--,--,--,11,0.29,--
Bury,LC,Lab,16,32,3,NaN,NaN,NaN,E08000002,NW,...,25,540,--,--,--,--,--,24,0.3,115
Calderdale,LC,Lab (minority),22,23,5,NaN,NaN,1,E08000033,YH,...,34,114,--,--,19,--,--,23,0.25,--
Cambridge,LC,Lab,NaN,26,13,NaN,1,2,E07000008,EE,...,84,333,12,7,--,--,33,52,1.03,15
Cambridgeshire,AA,Con,36,7,15,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
interim_df_2.iloc[:, [10, 15]]

                             Unnamed: 3 Mixed
Local Authority
Adur                                NaN    --
Allerdale                           NaN    --
Amber Valley                        NaN    --
Arun                                NaN    --
Ashfield                            NaN    --
Ashford                             NaN    --
Aylesbury Vale                      NaN    --
Babergh                             NaN    --
Barking & Dagenham                  NaN   NaN
Barking and Dagenham                NaN    33
Barnet                              NaN    14
Barnsley                            NaN    --
Barrow-in-Furness                   NaN    --
Basildon                            NaN     7
Basingstoke & Deane                 NaN   NaN
Basingstoke and Deane               NaN    --
Bassetlaw                           NaN    --
Bath & N.E. Somerset                NaN   NaN
Bath and North East Somerset        NaN    --
Bedford                             NaN    17
Bexley                              NaN    --
Birmingham                          NaN   193
Blaby                               NaN    --
Blackburn with Darwen               NaN    --
Blackpool                           NaN    --
Bolsover                            NaN    --
Bolton                              NaN    --
Boston                              NaN    --
Bournemouth                         NaN    12
Bracknell Forest                    NaN    --
...                                 ...   ...
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN
NaN                                 NaN   NaN

[570 rows x 2 columns]

In [28]:
interim_df_2.columns

Index(['Exec', 'Control', ' Con   ', 'Labour ', 'LibDem ', 'UKIP ', 'Green ',
       'Others ', 'ONS code', 'Region', 'Unnamed: 3',
       'Number of households (2014-based household interim projections for 2017)1\n(000s) ',
       'White', 'Black or Black British', 'Asian or Asian British', 'Mixed',
       'Other ethnic origin', 'Ethnic Group not Stated', 'Total',
       'Number per 1,000 households',
       'Eligible, homeless and in priority need, but intentionally',
       'Eligible, homeless but not in priority need',
       'Eligible, but not homeless', 'Total decisions',
       'Bed and breakfast (including shared annexe)', 'Hostels', 'LA/HA stock',
       'Private sector leased (by LA or HA)',
       'Other types (including private landlord)',
       'Total in temporary accommodation', 'Number per 1,000 households.1',
       'Duty owed but no accommodation has been secured at end of March 2018'],
      dtype='object')

In [31]:
interim_df_3 = pd.merge(interim_df_2,df4,how = 'outer', left_index=True,right_index=True)
interim_df_2.shape

(570, 32)

In [32]:
interim_df_3.columns

Index(['Exec', 'Control', ' Con   ', 'Labour ', 'LibDem ', 'UKIP ', 'Green ',
       'Others ', 'ONS code', 'Region', 'Unnamed: 3',
       'Number of households (2014-based household interim projections for 2017)1\n(000s) ',
       'White', 'Black or Black British', 'Asian or Asian British', 'Mixed',
       'Other ethnic origin', 'Ethnic Group not Stated', 'Total',
       'Number per 1,000 households',
       'Eligible, homeless and in priority need, but intentionally',
       'Eligible, homeless but not in priority need',
       'Eligible, but not homeless', 'Total decisions',
       'Bed and breakfast (including shared annexe)', 'Hostels', 'LA/HA stock',
       'Private sector leased (by LA or HA)',
       'Other types (including private landlord)',
       'Total in temporary accommodation', 'Number per 1,000 households.1',
       'Duty owed but no accommodation has been secured at end of March 2018',
       'Unemployment', 'Unemployment rate (%)'],
      dtype='object')

In [35]:
interim_df_3.head(20)

,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,ONS code,Region,...,Bed and breakfast (including shared annexe),Hostels,LA/HA stock,Private sector leased (by LA or HA),Other types (including private landlord),Total in temporary accommodation,"Number per 1,000 households.1",Duty owed but no accommodation has been secured at end of March 2018,Unemployment,Unemployment rate (%)
Local Authority,,,,,,,,,,,,,,,,,,,,,
1. The figures are based on a model which utilises Annual Population Survey estimates of unemployment along with the Claimant Count averaged over 12 months. A user guide provides further information.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2. These figures represent '95% confidence intervals'. If a large number of samples were taken, and a 95% confidence interval was calculated for each sample, it is expected that in 95% of samples the range would contain the true value.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
: not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5600.0,4.519662
Aberdeenshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4200.0,2.957793
Adur,LC,Con,16,4,NaN,7,NaN,2,E07000223,SE,...,--,--,--,20,32,62,2.17,--,1100.0,3.747941
Allerdale,LC,Lab,15,29,NaN,3,NaN,9,E07000026,NW,...,--,--,--,--,--,6,0.14,--,1800.0,4.021135
Amber Valley,LC,Con,23,22,NaN,NaN,NaN,NaN,E07000032,EM,...,--,--,8,--,--,12,0.22,--,2000.0,2.967423
Angus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200.0,3.907284
Argyll and Bute,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,3.025555
Arun,LC,Con,40,1,7,4,NaN,2,E07000224,SE,...,--,32,28,--,44,128,1.79,87,2500.0,3.325516
Ashfield,LC,Lab,4,21,5,NaN,NaN,5,E07000170,EM,...,--,--,--,--,--,22,0.41,27,2600.0,4.262189
Ashford,LC,Con,34,3,1,2,NaN,3,E07000105,SE,...,--,--,48,47,56,167,3.16,47,2600.0,4.041417
Aylesbury Vale,LC,Con,42,2,11,3,NaN,1,E07000004,SE,...,6,--,71,--,--,78,1.01,23,3000.0,2.726788
Babergh,AA,Con,30,2,3,NaN,NaN,8,E07000200,EE,...,11,--,17,--,--,36,0.92,17,1400.0,3.431532
Barking & Dagenham,LC,Lab,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E09000002,L,...,--,153,269,1444,--,1876,23.86,--,6400.0,6.439944
Barnet,LC,NaN,31,30,1,NaN,NaN,1,E09000003,L,...,--,--,876,817,867,2579,16.7,--,8600.0,4.322160
Barnsley,LC,Lab,4,55,NaN,NaN,NaN,4,E08000016,YH,...,--,6,7,--,--,17,0.16,--,5700.0,4.860911
Barrow-in-Furness,AA,Lab,8,28,NaN,NaN,NaN,NaN,E07000027,NW,...,--,--,7,--,--,8,0.26,--,1400.0,4.267252

In [34]:
interim_df_3.tail()

,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,ONS code,Region,...,Bed and breakfast (including shared annexe),Hostels,LA/HA stock,Private sector leased (by LA or HA),Other types (including private landlord),Total in temporary accommodation,"Number per 1,000 households.1",Duty owed but no accommodation has been secured at end of March 2018,Unemployment,Unemployment rate (%)
Local Authority,,,,,,,,,,,,,,,,,,,,,
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
interim_df_4= pd.merge(interim_df_3,df5,how = 'outer', left_index=True,right_index=True)
interim_df_4.shape

(2355, 74)

In [44]:
interim_df_4.head(10)

,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others,ONS code,Region,...,of which working age.1,of which pensioners.1,State Pension,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Winter Fuel Payments
Local Authority,,,,,,,,,,,,,,,,,,,,,
1. The figures are based on a model which utilises Annual Population Survey estimates of unemployment along with the Claimant Count averaged over 12 months. A user guide provides further information.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2. These figures represent '95% confidence intervals'. If a large number of samples were taken, and a 95% confidence interval was calculated for each sample, it is expected that in 95% of samples the range would contain the true value.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
: not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.045138,0.391177,286.384149,NaN,NaN,NaN,NaN,NaN,NaN,6.252538
Aberdeenshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.079071,0.440854,385.782502,NaN,NaN,NaN,NaN,NaN,NaN,8.194722
Adur,LC,Con,16,4,NaN,7,NaN,2,E07000223,SE,...,0.011296,0.093427,118.078668,NaN,NaN,NaN,NaN,NaN,NaN,2.610950
Allerdale,LC,Lab,15,29,NaN,3,NaN,9,E07000026,NW,...,0.000000,0.190485,175.875016,NaN,NaN,NaN,NaN,NaN,NaN,3.864893
Amber Valley,LC,Con,23,22,NaN,NaN,NaN,NaN,E07000032,EM,...,0.000000,0.187192,214.818552,NaN,NaN,NaN,NaN,NaN,NaN,4.556779
Angus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.045183,0.286410,209.258089,NaN,NaN,NaN,NaN,NaN,NaN,4.505147
Argyll & Bute,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.190580,167.037126,NaN,NaN,NaN,NaN,NaN,NaN,3.760281

In [46]:
interim_df_4.columns

Index(['Exec', 'Control', ' Con   ', 'Labour ', 'LibDem ', 'UKIP ', 'Green ',
       'Others ', 'ONS code', 'Region', 'Unnamed: 3',
       'Number of households (2014-based household interim projections for 2017)1\n(000s) ',
       'White', 'Black or Black British', 'Asian or Asian British', 'Mixed',
       'Other ethnic origin', 'Ethnic Group not Stated', 'Total_x',
       'Number per 1,000 households',
       'Eligible, homeless and in priority need, but intentionally',
       'Eligible, homeless but not in priority need',
       'Eligible, but not homeless', 'Total decisions',
       'Bed and breakfast (including shared annexe)', 'Hostels', 'LA/HA stock',
       'Private sector leased (by LA or HA)',
       'Other types (including private landlord)',
       'Total in temporary accommodation', 'Number per 1,000 households.1',
       'Duty owed but no accommodation has been secured at end of March 2018',
       'Unemployment', 'Unemployment rate (%)', 'Area Code', 'Total_y',
       'Attendance Allowance', 'Bereavement Benefit/Widow's Benefit',
       'Carer's Allowance', 'Unnamed: 6', 'Unnamed: 7',
       'Disability Living Allowance', 'of which children',
       'of which working age', 'of which pensioners',
       'Discretionary Housing Payments', 'Employment And Support Allowance',
       'Housing Benefit', 'Incapacity Benefit', 'Income Support',
       'Unnamed: 17', 'of which incapacity benefits', 'of which Lone Parent',
       'of which Carer', 'of which Others', 'Unnamed: 22',
       'Jobseeker's Allowance', 'Unnamed: 24', 'Unnamed: 25', 'Pension Credit',
       'Personal Independence Payment', 'Unnamed: 28', 'Unnamed: 29',
       'Severe Disablement Allowance', 'of which working age.1',
       'of which pensioners.1', 'State Pension', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Winter Fuel Payments'],
      dtype='object')

In [48]:
interim_df_4.dtypes

Exec                                                                                   object
Control                                                                                object
 Con                                                                                   object
Labour                                                                                 object
LibDem                                                                                 object
UKIP                                                                                   object
Green                                                                                  object
Others                                                                                 object
ONS code                                                                               object
Region                                                                                 object
Unnamed: 3                                                                             object
Number of households (2014-based household interim projections for 2017)1\n(000s)      object
White                                                                                  object
Black or Black British                                                                 object
Asian or Asian British                                                                 object
Mixed                                                                                  object
Other ethnic origin                                                                    object
Ethnic Group not Stated                                                                object
Total_x                                                                                object
Number per 1,000 households                                                            object
Eligible, homeless and in priority need, but intentionally                             object
Eligible, homeless but not in priority need                                            object
Eligible, but not homeless                                                             object
Total decisions                                                                        object
Bed and breakfast (including shared annexe)                                            object
Hostels                                                                                object
LA/HA stock                                                                            object
Private sector leased (by LA or HA)                                                    object
Other types (including private landlord)                                               object
Total in temporary accommodation                                                       object
                                                                                       ...
of which pensioners                                                                   float64
Discretionary Housing Payments                                                        float64
Employment And Support Allowance                                                      float64
Housing Benefit                                                                       float64
Incapacity Benefit                                                                    float64
Income Support                                                                        float64
Unnamed: 17                                                                           float64
of which incapacity benefits                                                          float64
of which Lone Parent                                                                  float64
of which Carer                                                                        float64
of which Others                                                                       float64
Unnamed: 22                                                                           float64
Jobseeker's Allowance                                                                 float64
Unnamed: 24                                                                           float64
Unnamed: 25                                                                           float64
Pension Credit                                                                        float64
Personal Independence Payment                                                         float64
Unnamed: 28                                                                           float64
Unnamed: 29                                                                           float64
Severe Disablement Allowance                                                          float64
of which working age.1                                                                float64
of which pensioners.1                                                                 float64
State Pension                                                                         float64
Unnamed: 34                                                                           float64
Unnamed: 35                                                                           float64
Unnamed: 36                                                                           float64
Unnamed: 37                                                                           float64
Unnamed: 38                                                                           float64
Unnamed: 39                                                                           float64
Winter Fuel Payments                                                                  float64
Length: 74, dtype: object

In [47]:
interim_df_4.sort_values(by='Total_x', ascending=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
Homeless1011 = pd.read_excel(master_file, sheet_name = 19, header = 5)
Homeless1011.head()

In [1]:
Homeless1011 = pd.read_excel(master_file, sheet_name = 3, header = 2)
Homeless1011.head()

#for i in range (10) "homeless" + _i str (i)

NameError: name 'pd' is not defined

In [21]:
Homeless1011.shape

(326, 25)

In [22]:
Homeless1011.columns

Index(['New ONS Code', 'Old ONS Code', 'Local Authority', 'Region',
       'Number of households (000s, mid-2017)', 'Unnamed: 5',
       'Number of households accepted as homeless',
       'Number of households intentionally homeless',
       'Number of homeless households not priority',
       'Number of households not homeless', 'Total decisions',
       '% change in acceptances on previous year',
       '% of total decisions taken accepted as homeless',
       'Number accepted as homeless per 1,000 households', 'Unnamed: 14',
       'Number in TA at 31 December', 'Number in TA per 1,000 households',
       'Unnamed: 17', 'Region.1',
       'Statutory homelessness per 1,000 households',
       'Households in TA per 1,000 households', 'Unnamed: 21',
       'Number of acceptances', 'Number in TA', 'Households'],
      dtype='object')

Homeless1011.dtypes

In [10]:
Homeless1011['Number of households intentionally homeless']= pd.to_numeric(Homeless1011['Number of households intentionally homeless']
                                                                    ,errors='coerce')
Homeless1011.dtypes

New ONS Code                                         object
Old ONS Code                                         object
Local Authority                                      object
Region                                               object
Number of households (000s, mid-2010)               float64
Unnamed: 5                                          float64
Number of households accepted as homeless             int64
Number of households intentionally homeless         float64
Number of homeless households not priority           object
Number of households not homeless                    object
Total decisions                                      object
% change in acceptances on previous year            float64
% of total decisions taken accepted as homeless      object
Number accepted as homeless per 1,000 households    float64
Unnamed: 14                                         float64
Number in TA at 31 March                              int64
Number in TA per 1,000 households                   float64
Unnamed: 17                                         float64
Region.1                                             object
Statutory homelessness per 1,000 households         float64
Households in TA per 1,000 households               float64
Unnamed: 21                                         float64
Number of acceptances                               float64
Number in TA                                        float64
Households                                          float64
dtype: object

In [27]:
Homeless1011.astype(float)

ValueError: could not convert string to float: 'E07000223'

In [13]:
df['Number of households intentionally homeless'] = df['Number of households intentionally homeless'].astype(float)

NameError: name 'df' is not defined

In [11]:
import numpy as np
Homeless1011 = Homeless1011.replace(np.nan, 0, regex=True)#replaing NaN with 0
print(Homeless1011)

    New ONS Code Old ONS Code               Local Authority Region  \
0      E07000223         45UB                          Adur     SE
1      E07000026         16UB                     Allerdale     NW
2      E07000032         17UB                  Amber Valley     EM
3      E07000224         45UC                          Arun     SE
4      E07000170         37UB                      Ashfield     EM
5      E07000105         29UB                       Ashford     SE
6      E07000004         11UB                Aylesbury Vale     SE
7      E07000200         42UB                       Babergh     EE
8      E09000002         00AB          Barking and Dagenham      L
9      E09000003         00AC                        Barnet      L
10     E08000016         00CC                      Barnsley     YH
11     E07000027         16UC             Barrow-in-Furness     NW
12     E07000066         22UB                      Basildon     EE
13     E07000084         24UB         Basingstoke and Deane     SE
14     E07000171         37UC                     Bassetlaw     EM
15     E06000022         00HA  Bath and North East Somerset     SW
16     E06000055         00KB                       Bedford     EE
17     E09000004         00AD                        Bexley      L
18     E08000025         00CN                    Birmingham     WM
19     E07000129         31UB                         Blaby     EM
20     E06000008         00EX         Blackburn with Darwen     NW
21     E06000009         00EY                     Blackpool     NW
22     E07000033         17UC                      Bolsover     EM
23     E08000001         00BL                        Bolton     NW
24     E07000136         32UB                        Boston     EM
25     E06000028         00HN                   Bournemouth     SW
26     E06000036         00MA              Bracknell Forest     SE
27     E08000032         00CX                      Bradford     YH
28     E07000067         22UC                     Braintree     EE
29     E07000143         33UB                     Breckland     EE
..           ...          ...                           ...    ...
296    E07000103         26UK                       Watford     EE
297    E07000206         42UH                       Waveney     EE
298    E07000216         43UL                      Waverley     SE
299    E07000065         21UH                       Wealden     SE
300    E07000156         34UH                Wellingborough     EM
301    E07000241         26UL               Welwyn Hatfield     EE
302    E06000037         00MB                West Berkshire     SE
303    E07000047         18UL                    West Devon     SW
304    E07000052         19UH                   West Dorset     SW
305    E07000127         30UP               West Lancashire     NW
306    E07000142         32UH                  West Lindsey     EM
307    E07000181         38UF              West Oxfordshire     SE
308    E07000191         40UF                 West Somerset     SW
309    E09000033         00BK                   Westminster      L
310    E07000053         19UJ         Weymouth and Portland     SW
311    E08000010         00BW                         Wigan     NW
312    E06000054         00HY                     Wiltshire     SW
313    E07000094         24UP                    Winchester     SE
314    E06000040         00ME        Windsor and Maidenhead     SE
315    E08000015         00CB                        Wirral     NW
316    E07000217         43UM                        Woking     SE
317    E06000041         00MF                     Wokingham     SE
318    E08000031         00CW                 Wolverhampton     WM
319    E07000237         47UE                     Worcester     WM
320    E07000229         45UH                      Worthing     SE
321    E07000238         47UF                      Wychavon     WM
322    E07000007         11UF                       Wycombe     SE
323    E07000128         30UQ                          Wyre     NW
324    E07000239         47UG                   Wyre Forest     WM
325    E06000014         00FF                          York     YH

     Number of households (000s, mid-2010)  Unnamed: 5  \
0                                   26.730         0.0
1                                   41.955         0.0
2                                   52.007         0.0
3                                   66.274         0.0
4                                   49.948         0.0
5                                   46.812         0.0
6                                   68.278         0.0
7                                   37.175         0.0
8                                   68.432         0.0
9                                  133.531         0.0
10                                  98.752         0.0
11                                  30.984         0.0
12                                  72.098         0.0
13                                  68.103         0.0
14                                  47.397         0.0
15                                  72.637         0.0
16                                  62.949         0.0
17                                  91.752         0.0
18                                 404.007         0.0
19                                  38.274         0.0
20                                  56.410         0.0
21                                  63.905         0.0
22                                  32.193         0.0
23                                 114.131         0.0
24                                  26.956         0.0
25                                  79.412         0.0
26                                  45.118         0.0
27                                 194.939         0.0
28                                  60.236         0.0
29                                  54.097         0.0
..                                     ...         ...
296                                 35.458         0.0
297                                 50.699         0.0
298                                 48.765         0.0
299                                 62.038         0.0
300                                 31.603         0.0
301                                 43.180         0.0
302                                 61.784         0.0
303                                 22.408         0.0
304                                 43.885         0.0
305                                 45.032         0.0
306                                 38.044         0.0
307                                 42.931         0.0
308                                 15.670         0.0
309                                104.772         0.0
310                                 27.975         0.0
311                                134.360         0.0
312                                192.491         0.0
313                                 46.220         0.0
314                                 57.822         0.0
315                                138.589         0.0
316                                 38.904         0.0
317                                 59.601         0.0
318                                100.622         0.0
319                                 41.306         0.0
320                                 46.044         0.0
321                                 49.083         0.0
322                                 67.146         0.0
323                                 46.980         0.0
324                                 42.356         0.0
325                                 81.893         0.0

     Number of households accepted as homeless  \
0                                           90
1                                          104
2                                           46
3                                           79
4                                           25
5                                          194
6                                          112
7                                           46
8                                          221
9                                          251
10                                          56
11                                          26
12                                         232
13                                           1
14                                          27
15                                         100
16                                         107
17                                         204
18                                        4207
19                                           7
20                                          19
21                                          59
22                                          54
23                                         266
24                                          23
25                                          66
26                                          29
27                                         146
28                                         104
29                                          75
..                                         ...
296                                        117
297                                         64
298                                          2
299                                        127
300                                        143
301                                         92
302                                         17
303                                         12
304                                         28
305                                         54
306                                         43
307                                         12
308                                         31
309                                        463
310                                         23
311                                        223
312                                        240
313                                         19
314                                         23
315                                         77
316                                         17
317                                          8
318                                        324
319                                        183
320                                         20
321                                        102
322                                         79
323                                          7
324                                         96
325                                        183

    Number of households intentionally homeless  \
0                                            15
1                                            40
2                                             4
3                                            35
4                                            11
5                                            15
6                                             8
7                                             6
8                                            25
9                                            13
10                                            7
11                                           10
12                                           32
13                                           10
14                                           16
15                                            6
16                                           26
17                                           37
18                                          323
19                                            0
20                                            6
21                                           17
22                                            2
23                                           57
24                                            8
25                                            8
26                                            9
27                                           15
28                                           23
29                                           13
..                                          ...
296                                           8
297                                          48
298                                           6
299                                          11
300                                          14
301                                          16
302                                           9
303                                           6
304                                          13
305                                          26
306                                           1
307                                           7
308                                          10
309                                         146
310                                           7
311                                          31
312                                          12
313                                           4
314                                           1
315                                          30
316                                           1
317                                          22
318                                          10
319                                          16
320                                           0
321                                           9
322                                          32
323                                           2
324                                           5
325                                          21

    Number of homeless households not priority  \
0                                           16
1                                           61
2                                           10
3                                           15
4                                            6
5                                            8
6                                           27
7                                            5
8                                          197
9                                           76
10                                          29
11                                          48
12                                          34
13                                           7
14                                          15
15                                          13
16                                           4
17                                          56
18                                        1707
19                                           0
20                                          10
21                                        1068
22                                           2
23                                          40
24                                          12
25                                           5
26                                           3
27                                          26
28                                          25
29                                           4
..                                         ...
296                                          6
297                                          3
298                                          0
299                                         15
300                                         44
301                                        120
302                                          7
303                                          3
304                                          8
305                                         42
306                                          2
307                                          5
308                                         74
309                                        140
310                                          4
311                                        205
312                                         10
313                                          1
314                                          0
315                                         11
316                                          0
317                                          8
318                                        111
319                                        219
320                                          3
321                                         10
322                                         41
323                                         12
324                                        148
325                                         29

    Number of households not homeless  ... Number in TA at 31 March  \
0                                  17  ...                       89
1                                 129  ...                       20
2                                  74  ...                       11
3                                  67  ...                       57
4                                  19  ...                        4
5                                  56  ...                      105
6                                  22  ...                       12
7                                  20  ...                        4
8                                 269  ...                      704
9                                 224  ...                     2139
10                                313  ...                        5
11                                 68  ...                       10
12                                 13  ...                      227
13                                  2  ...                        4
14                                 61  ...                        3
15                                 39  ...                       27
16                                 75  ...                       29
17                                222  ...                      217
18                               2086  ...                      726
19                                  1  ...                        2
20                                 51  ...                        3
21                                 17  ...                       23
22                                  0  ...                        0
23                                244  ...                       48
24                                 36  ...                       17
25                                 23  ...                       10
26                                 10  ...                       19
27                                235  ...                       30
28                                 38  ...                       32
29                                 22  ...                       13
..                                ...  ...                      ...
296                                14  ...                       86
297                                 5  ...                       22
298                                 6  ...                        2
299                                 5  ...                       48
300                               129  ...                       34
301                                77  ...                       70
302                                 9  ...                       24
303                                 5  ...                        8
304                                34  ...                       19
305                                18  ...                        3
306                                14  ...                        3
307                                 8  ...                        5
308                                57  ...                        6
309                               289  ...                     1725
310                                13  ...                       50
311                               107  ...                       15
312                                 9  ...                      145
313                                 8  ...                       16
314                                 0  ...                       20
315                                77  ...                        6
316                                 2  ...                       28

In [30]:
Homeless1011_new = Homeless1011.drop(['Unnamed: 14','Unnamed: 17','Region.1',
                                     'Statutory homelessness per 1,000 households','Households in TA per 1,000 households',
                                    'Number of acceptances','Number in TA','Households'],axis=1)

In [29]:
Homeless1011[['Unnamed: 5']]

KeyError: "None of [Index(['Unnamed: 5'], dtype='object')] are in the [columns]"

In [19]:
Homeless1011.drop(columns=['Unnamed: 5'],inplace=True)

KeyError: "['Unnamed: 5'] not found in axis"

In [23]:
Local_Auth_File = 'Master File with All Data 20th Sep.xlsx'
Local_Auth = pd.read_excel(Local_Auth_File,header = 2)
Local_Auth.head()

   Local Authority Exec Control  Con    Labour  LibDem  UKIP  Green  Others
0  Buckinghamshire   LC     Con      41       1       4   NaN    NaN       3
1   Cambridgeshire   AA     Con      36       7      15   NaN    NaN       3
2          Cumbria   LC     NaN      37      26      16   NaN    NaN       5
3       Derbyshire   LC     Con      37      24       3   NaN    NaN     NaN
4            Devon   LC     Con      42       7       7   NaN      1       3

In [13]:
Local_Auth.rename(columns={'Unnamed: 0':'Local Authority'})

,Local Authority,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
0,Buckinghamshire,LC,Con,41,1,4,NaN,NaN,3
1,Cambridgeshire,AA,Con,36,7,15,NaN,NaN,3
2,Cumbria,LC,NaN,37,26,16,NaN,NaN,5
3,Derbyshire,LC,Con,37,24,3,NaN,NaN,NaN
4,Devon,LC,Con,42,7,7,NaN,1,3
5,Dorset,LC,Con,33,1,10,NaN,2,NaN
6,East Sussex,LC,Con,30,4,11,NaN,NaN,5
7,Essex,LC,Con,56,6,7,NaN,1,"Ind 4, RA 1"
8,Gloucestershire,LC,Con,31,5,14,NaN,2,1
9,Hampshire,LC,Con,56,2,19,NaN,NaN,1
10,Hertfordshire,LC,Con,51,9,18,NaN,NaN,NaN
11,Kent,LC,Con,67,5,7,NaN,1,RA 1
12,Lancashire,LC,Con,46,30,4,1,1,2
13,Leicestershire,LC,Con,36,6,13,NaN,NaN,NaN
14,Lincolnshire,LC,Con,58,6,1,NaN,NaN,5
15,Norfolk,LC,Con,55,17,11,NaN,NaN,1
16,North Yorkshire,LC,Con,55,4,3,NaN,NaN,10
17,Northamptonshire,LC,Con,43,13,1,NaN,NaN,NaN
18,Nottinghamshire,AA,NaN,31,23,1,NaN,NaN,11
19,Oxfordshire,LC,NaN,31,14,13,NaN,NaN,"Ind 4, RA 1"
20,Somerset,LC,Con,35,3,12,NaN,2,3
21,Staffordshire,LC,Con,51,10,NaN,NaN,NaN,1
22,Suffolk,LC,Con,52,11,5,NaN,3,4
23,Surrey,LC,Con,60,1,9,NaN,1,"RA 8, Ind 2"
24,Warwickshire,LC,Con,36,10,7,NaN,2,2
25,West Sussex,LC,Con,56,5,9,NaN,NaN,NaN
26,Worcestershire,LC,Con,40,10,3,NaN,2,"ICHC 1, Ind 1"
27,County Totals,NaN,1202,260,223,1,18,83,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
350,Thanet,LC,NaN,19,6,NaN,28,NaN,3
351,Three Rivers,LC,LDm,15,3,21,NaN,NaN,NaN
352,Tonbridge & Malling,LC,Con,48,NaN,4,NaN,NaN,2
353,Torridge,AA,NaN,18,1,3,5,2,7
354,Tunbridge Wells,LC,Con,43,2,2,NaN,NaN,1
355,Uttlesford,LC,Con,23,NaN,4,NaN,NaN,12
356,Vale of White Horse,LC,Con,29,NaN,9,NaN,NaN,NaN
357,Warwick,LC,Con,31,9,2,NaN,1,3
358,Watford,MC,LDm,NaN,11,25,NaN,NaN,NaN
359,Waveney,LC,Con,28,19,NaN,NaN,1,NaN
360,Waverley,LC,Con,50,NaN,1,NaN,NaN,6
361,Wealden,LC,Con,49,NaN,1,NaN,NaN,5
362,Wellingborough,AA,Con,27,9,NaN,NaN,NaN,NaN
363,Welwyn Hatfield,LC,Con,27,16,5,NaN,NaN,NaN
364,West Devon,AA,Con,21,NaN,NaN,NaN,NaN,10
365,West Dorset,LC,Con,31,NaN,11,NaN,NaN,NaN
366,West Lancashire,LC,Lab,21,31,NaN,NaN,NaN,2
367,West Lindsey,AA,Con,24,3,7,NaN,NaN,2
368,West Oxfordshire,LC,Con,40,4,5,NaN,NaN,NaN
369,West Somerset,LC,Con,20,1,2,3,NaN,2
370,Weymouth & Portland,AA,Con + Lab,14,12,6,1,2,1
371,Winchester,LC,Con,25,NaN,20,NaN,NaN,NaN
372,Woking,LC,Con,17,3,7,NaN,NaN,3
373,Worcester,LC,Lab (minority),17,16,NaN,NaN,2,NaN
374,Worthing,LC,Con,30,1,2,2,1,1
375,Wychavon,LC,Con,39,NaN,5,1,NaN,NaN
376,Wycombe,LC,Con,47,6,1,1,NaN,5
377,Wyre,LC,Con,36,14,NaN,NaN,NaN,NaN
378,Wyre Forest,LC,Con,22,4,2,NaN,NaN,"ICHC 2, Ind 3"
379,District Totals,NaN,5183,1591,885,233,82,596,NaN

In [14]:
Homeless1011.rename(columns={'Local Authority':'Unnamed:0'})

,New ONS Code,Old ONS Code,Unnamed:0,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 March,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,45UB,Adur,SE,26.730,0.0,90,15,16,17,...,89,3.329592,0.0,ENG,2.031087,2.218742,0.0,44160.0,48240.0,21742.054
1,E07000026,16UB,Allerdale,NW,41.955,0.0,104,40,61,129,...,20,0.476701,0.0,EE,1.765785,1.087828,0.0,4222.0,2601.0,2391.004
2,E07000032,17UB,Amber Valley,EM,52.007,0.0,46,4,10,74,...,11,0.211510,0.0,EM,1.808741,0.364528,0.0,3384.0,682.0,1870.915
3,E07000224,45UC,Arun,SE,66.274,0.0,79,35,15,67,...,57,0.860066,0.0,L,3.173548,11.176314,0.0,10180.0,35851.0,3207.766
4,E07000170,37UB,Ashfield,EM,49.948,0.0,25,11,6,19,...,4,0.080083,0.0,NE,1.667101,0.198400,0.0,1857.0,221.0,1113.910
5,E07000105,29UB,Ashford,SE,46.812,0.0,194,15,8,56,...,105,2.243015,0.0,NW,1.306660,0.311238,0.0,3875.0,923.0,2965.577
6,E07000004,11UB,Aylesbury Vale,SE,68.278,0.0,112,8,27,22,...,12,0.175752,0.0,SE,1.288521,1.043482,0.0,4517.0,3658.0,3505.570
7,E07000200,42UB,Babergh,EE,37.175,0.0,46,6,5,20,...,4,0.107599,0.0,SW,1.464403,0.913684,0.0,3268.0,2039.0,2231.626
8,E09000002,00AB,Barking and Dagenham,L,68.432,0.0,221,25,197,269,...,704,10.287585,0.0,WM,3.727122,0.600935,0.0,8435.0,1360.0,2263.140
9,E09000003,00AC,Barnet,L,133.531,0.0,251,13,76,224,...,2139,16.018752,0.0,YH,2.016377,0.410938,0.0,4421.0,901.0,2192.546
10,E08000016,00CC,Barnsley,YH,98.752,0.0,56,7,29,313,...,5,0.050632,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
11,E07000027,16UC,Barrow-in-Furness,NW,30.984,0.0,26,10,48,68,...,10,0.322747,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
12,E07000066,22UB,Basildon,EE,72.098,0.0,232,32,34,13,...,227,3.148492,0.0,Source:,0.000000,0.000000,0.0,0.0,0.0,0.000
13,E07000084,24UB,Basingstoke and Deane,SE,68.103,0.0,1,10,7,2,...,4,0.058735,0.0,"DCLG, Table 784",0.000000,0.000000,0.0,0.0,0.0,0.000
14,E07000171,37UC,Bassetlaw,EM,47.397,0.0,27,16,15,61,...,3,0.063295,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
15,E06000022,00HA,Bath and North East Somerset,SW,72.637,0.0,100,6,13,39,...,27,0.371711,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
16,E06000055,00KB,Bedford,EE,62.949,0.0,107,26,4,75,...,29,0.460690,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
17,E09000004,00AD,Bexley,L,91.752,0.0,204,37,56,222,...,217,2.365071,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
18,E08000025,00CN,Birmingham,WM,404.007,0.0,4207,323,1707,2086,...,726,1.796999,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
19,E07000129,31UB,Blaby,EM,38.274,0.0,7,0,0,1,...,2,0.052255,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
20,E06000008,00EX,Blackburn with Darwen,NW,56.410,0.0,19,6,10,51,...,3,0.053182,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
21,E06000009,00EY,Blackpool,NW,63.905,0.0,59,17,1068,17,...,23,0.359909,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
22,E07000033,17UC,Bolsover,EM,32.193,0.0,54,2,2,0,...,0,0.000000,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
23,E08000001,00BL,Bolton,NW,114.131,0.0,266,57,40,244,...,48,0.420569,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
24,E07000136,32UB,Boston,EM,26.956,0.0,23,8,12,36,...,17,0.630657,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
25,E06000028,00HN,Bournemouth,SW,79.412,0.0,66,8,5,23,...,10,0.125926,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
26,E06000036,00MA,Bracknell Forest,SE,45.118,0.0,29,9,3,10,...,19,0.421118,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
27,E08000032,00CX,Bradford,YH,194.939,0.0,146,15,26,235,...,30,0.153894,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
28,E07000067,22UC,Braintree,EE,60.236,0.0,104,23,25,38,...,32,0.531244,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
29,E07000143,33UB,Breckland,EE,54.097,0.0,75,13,4,22,...,13,0.240309,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,E07000103,26UK,Watford,EE,35.458,0.0,117,8,6,14,...,86,2.425405,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
297,E07000206,42UH,Waveney,EE,50.699,0.0,64,48,3,5,...,22,0.433934,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
298,E07000216,43UL,Waverley,SE,48.765,0.0,2,6,0,6,...,2,0.041013,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
299,E07000065,21UH,Wealden,SE,62.038,0.0,127,11,15,5,...,48,0.773719,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
300,E07000156,34UH,Wellingborough,EM,31.603,0.0,143,14,44,129,...,34,1.075847,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
301,E07000241,26UL,Welwyn Hatfield,EE,43.180,0.0,92,16,120,77,...,70,1.621121,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
302,E06000037,00MB,West Berkshire,SE,61.784,0.0,17,9,7,9,...,24,0.388450,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
303,E07000047,18UL,West Devon,SW,22.408,0.0,12,6,3,5,...,8,0.357015,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
304,E07000052,19UH,West Dorset,SW,43.885,0.0,28,13,8,34,...,19,0.432950,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
305,E07000127,30UP,West Lancashire,NW,45.032,0.0,54,26,42,18,...,3,0.066619,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
306,E07000142,32UH,West Lindsey,EM,38.044,0.0,43,1,2,14,...,3,0.078856,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
307,E07000181,38UF,West Oxfordshire,SE,42.931,0.0,12,7,5,8,...,5,0.116466,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
308,E07000191,40UF,West Somerset,SW,15.670,0.0,31,10,74,57,...,6,0.382897,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
309,E09000033,00BK,Westminster,L,104.772,0.0,463,146,140,289,...,1725,16.464323,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
310,E07000053,19UJ,Weymouth and Portland,SW,27.975,0.0,23,7,4,13,...,50,1.787310,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
311,E08000010,00BW,Wigan,NW,134.360,0.0,223,31,205,107,...,15,0.111640,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
312,E06000054,00HY,Wiltshire,SW,192.491,0.0,240,12,10,9,...,145,0.753282,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
313,E07000094,24UP,Winchester,SE,46.220,0.0,19,4,1,8,...,16,0.346170,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
314,E06000040,00ME,Windsor and Maidenhead,SE,57.822,0.0,23,1,0,0,...,20,0.345889,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
315,E08000015,00CB,Wirral,NW,138.589,0.0,77,30,11,77,...,6,0.043293,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
316,E07000217,43UM,Woking,SE,38.904,0.0,17,1,0,2,...,28,0.719720,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
317,E06000041,00MF,Wokingham,SE,59.601,0.0,8,22,8,9,...,14,0.234895,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
318,E08000031,00CW,Wolverhampton,WM,100.622,0.0,324,10,111,249,...,51,0.506847,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
319,E07000237,47UE,Worcester,WM,41.306,0.0,183,16,219,40,...,50,1.210478,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
320,E07000229,45UH,Worthing,SE,46.044,0.0,20,0,3,6,...,33,0.716706,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
321,E07000238,47UF,Wychavon,WM,49.083,0.0,102,9,10,18,...,16,0.325978,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
322,E07000007,11UF,Wycombe,SE,67.146,0.0,79,32,41,11,...,61,0.908468,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
323,E07000128,30UQ,Wyre,NW,46.980,0.0,7,2,12,42,...,1,0.021286,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
324,E07000239,47UG,Wyre Forest,WM,42.356,0.0,96,5,148,3,...,17,0.401360,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000
325,E06000014,00FF,York,YH,81.893,0.0,183,21,29,12,...,94,1.147839,0.0,0,0.000000,0.000000,0.0,0.0,0.0,0.000

In [24]:
Homeless1011.rename(columns={'Unnamed:0':'Local Authority'})

,New ONS Code,Old ONS Code,Local Authority,Region,"Number of households (000s, mid-2017)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 December,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,NaN,Adur,SE,27.967,NaN,38,7,10,12,...,62,2.2169,NaN,ENG,2.455137,3.501390,NaN,56600.0,80720.0,23053.704
1,E07000026,NaN,Allerdale,NW,43.237,NaN,22,24,29,31,...,6,0.13877,NaN,EE,2.419699,2.314989,NaN,6170.0,5903.0,2549.904
2,E07000032,NaN,Amber Valley,EM,54.610,NaN,76,--,--,87,...,12,0.21974,NaN,EM,2.324501,0.626526,NaN,4608.0,1242.0,1982.361
3,E07000224,NaN,Arun,SE,70.492,NaN,204,25,79,430,...,128,1.81581,NaN,L,4.444522,15.927306,NaN,15470.0,55438.0,3480.689
4,E07000170,NaN,Ashfield,EM,53.950,NaN,123,14,6,20,...,22,0.407785,NaN,NE,1.051352,0.121044,NaN,1216.0,140.0,1156.606
5,E07000105,NaN,Ashford,SE,52.130,NaN,160,11,19,51,...,167,3.20353,NaN,NW,1.706688,0.819649,NaN,5293.0,2542.0,3101.328
6,E07000004,NaN,Aylesbury Vale,SE,77.225,NaN,150,6,32,22,...,78,1.01004,NaN,SE,2.070766,2.268900,NaN,7734.0,8474.0,3734.849
7,E07000200,NaN,Babergh,EE,39.480,NaN,72,--,--,28,...,36,0.911854,NaN,SW,1.770178,1.106730,NaN,4205.0,2629.0,2375.467
8,E09000002,NaN,Barking and Dagenham,L,76.657,NaN,512,115,172,227,...,1876,24.4727,NaN,WM,3.368985,1.438094,NaN,8026.0,3426.0,2382.320
9,E09000003,NaN,Barnet,L,146.655,NaN,444,28,98,189,...,2579,17.5855,NaN,YH,1.691133,0.376826,NaN,3873.0,863.0,2290.180
10,E08000016,NaN,Barnsley,YH,106.837,NaN,41,5,21,57,...,17,0.159121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,E07000027,NaN,Barrow-in-Furness,NW,31.087,NaN,13,--,--,25,...,8,0.257342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,E07000066,NaN,Basildon,EE,76.258,NaN,202,54,17,26,...,404,5.2978,NaN,Source:,NaN,NaN,NaN,NaN,NaN,NaN
13,E07000084,NaN,Basingstoke and Deane,SE,73.265,NaN,81,53,41,34,...,111,1.51505,NaN,"DCLG, Table 784",NaN,NaN,NaN,NaN,NaN,NaN
14,E07000171,NaN,Bassetlaw,EM,49.244,NaN,77,16,10,49,...,6,0.121842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,E06000022,NaN,Bath and North East Somerset,SW,76.619,NaN,84,12,6,19,...,31,0.404599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,E06000055,NaN,Bedford,EE,69.511,NaN,224,45,24,86,...,132,1.89898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,E09000004,NaN,Bexley,L,97.756,NaN,500,122,65,44,...,1234,12.6233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,E08000025,NaN,Birmingham,WM,421.915,NaN,3386,263,395,1104,...,2058,4.87776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,E07000129,NaN,Blaby,EM,41.029,NaN,32,--,--,13,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,E06000008,NaN,Blackburn with Darwen,NW,57.143,NaN,52,--,--,85,...,5,0.0874998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,E06000009,NaN,Blackpool,NW,63.120,NaN,68,26,520,178,...,36,0.570342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,E07000033,NaN,Bolsover,EM,34.320,NaN,29,9,--,--,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,E08000001,NaN,Bolton,NW,119.082,NaN,193,99,67,161,...,62,0.52065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,E07000136,NaN,Boston,EM,28.176,NaN,11,7,21,60,...,12,0.425894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,E06000028,NaN,Bournemouth,SW,86.891,NaN,341,47,75,66,...,178,2.04854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,E06000036,NaN,Bracknell Forest,SE,48.812,NaN,76,16,12,16,...,133,2.72474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,E08000032,NaN,Bradford,YH,201.442,NaN,379,77,93,260,...,116,0.575848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,E07000067,NaN,Braintree,EE,63.892,NaN,55,19,5,9,...,29,0.453891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,E07000143,NaN,Breckland,EE,58.040,NaN,70,12,8,40,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,E07000103,NaN,Watford,EE,39.535,NaN,137,21,8,26,...,181,4.57822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,E07000206,NaN,Waveney,EE,52.159,NaN,56,41,6,20,...,24,0.460132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,E07000216,NaN,Waverley,SE,50.330,NaN,--,--,--,--,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,E07000065,NaN,Wealden,SE,67.802,NaN,120,22,27,13,...,40,0.589953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,E07000156,NaN,Wellingborough,EM,33.479,NaN,213,17,14,61,...,101,3.01682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,E07000241,NaN,Welwyn Hatfield,EE,47.527,NaN,186,9,10,15,...,106,2.23031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,E06000037,NaN,West Berkshire,SE,65.075,NaN,11,16,18,46,...,46,0.706877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,E07000047,NaN,West Devon,SW,23.702,NaN,19,--,--,17,...,5,0.210953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,E07000052,NaN,West Dorset,SW,46.203,NaN,51,9,6,24,...,22,0.47616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,E07000127,NaN,West Lancashire,NW,46.404,NaN,31,9,20,10,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,E07000142,NaN,West Lindsey,EM,41.166,NaN,69,--,--,9,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,E07000181,NaN,West Oxfordshire,SE,45.692,NaN,95,5,81,43,...,10,0.218857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,E07000191,NaN,West Somerset,SW,15.735,NaN,26,--,--,12,...,9,0.571973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,E09000033,NaN,Westminster,L,114.630,NaN,454,125,87,118,...,2521,21.9925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,E07000053,NaN,Weymouth and Portland,SW,29.348,NaN,92,23,12,40,...,76,2.58961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,E08000010,NaN,Wigan,NW,141.608,NaN,213,30,26,66,...,32,0.225976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,E06000054,NaN,Wiltshire,SW,206.990,NaN,249,53,16,38,...,93,0.449297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,E07000094,NaN,Winchester,SE,49.534,NaN,47,--,--,6,...,46,0.928655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,E06000040,NaN,Windsor and Maidenhead,SE,60.624,NaN,54,--,--,--,...,75,1.23713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,E08000015,NaN,Wirral,NW,142.593,NaN,112,38,16,45,...,15,0.105195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,E07000217,NaN,Woking,SE,39.736,NaN,79,--,--,8,...,151,3.80008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,E06000041,NaN,Wokingham,SE,63.706,NaN,92,18,14,24,...,29,0.455216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,E08000031,NaN,Wolverhampton,WM,104.793,NaN,454,35,229,159,...,69,0.658441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,E07000237,NaN,Worcester,WM,43.689,NaN,181,19,125,33,...,41,0.938451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,E07000229,NaN,Worthing,SE,49.583,NaN,46,16,12,32,...,108,2.17817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,E07000238,NaN,Wychavon,WM,52.651,NaN,130,20,40,42,...,9,0.170937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,E07000007,NaN,Wycombe,SE,69.668,NaN,101,16,34,57,...,85,1.22007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,E07000128,NaN,Wyre,NW,48.683,NaN,6,--,--,14,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,E07000239,NaN,Wyre Forest,WM,44.612,NaN,150,17,33,7,...,--,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,E06000014,NaN,York,YH,86.457,NaN,90,28,14,33,...,49,0.566756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd

In [ ]:
dtypes

In [5]:
Homeless1011.shape

(357, 25)

In [9]:
df1 = Homeless1011.set_index('Local Authority')
df2 = Local_Auth.set_index('Local Authority')

KeyError: 'Local Authority'

In [26]:
Local_Auth.shape

(380, 9)

In [29]:
display('df1','df2',"pd.merge(df1,df2,left_index=True,right_index=True)")

'df1'

'df2'

'pd.merge(df1,df2,left_index=True,right_index=True)'

In [6]:
interim_df = pd.merge(df1,df2,how = 'outer', left_index=True,right_index=True)
interim_df.shape

NameError: name 'df1' is not defined

In [19]:
interim_df.columns

Index(['New ONS Code', 'Old ONS Code', 'Region',
       'Number of households (000s, mid-2010)', 'Unnamed: 5',
       'Number of households accepted as homeless',
       'Number of households intentionally homeless',
       'Number of homeless households not priority',
       'Number of households not homeless', 'Total decisions',
       '% change in acceptances on previous year',
       '% of total decisions taken accepted as homeless',
       'Number accepted as homeless per 1,000 households', 'Unnamed: 14',
       'Number in TA at 31 March', 'Number in TA per 1,000 households',
       'Unnamed: 17', 'Region.1',
       'Statutory homelessness per 1,000 households',
       'Households in TA per 1,000 households', 'Unnamed: 21',
       'Number of acceptances', 'Number in TA', 'Households', 'Exec',
       'Control', ' Con   ', 'Labour ', 'LibDem ', 'UKIP ', 'Green ',
       'Others '],
      dtype='object')

In [23]:
Homeless1011.dtypes

New ONS Code                                         object
Old ONS Code                                         object
Local Authority                                      object
Region                                               object
Number of households (000s, mid-2010)               float64
Unnamed: 5                                          float64
Number of households accepted as homeless             int64
Number of households intentionally homeless          object
Number of homeless households not priority           object
Number of households not homeless                    object
Total decisions                                      object
% change in acceptances on previous year            float64
% of total decisions taken accepted as homeless      object
Number accepted as homeless per 1,000 households    float64
Unnamed: 14                                         float64
Number in TA at 31 March                              int64
Number in TA per 1,000 households                   float64
Unnamed: 17                                         float64
Region.1                                             object
Statutory homelessness per 1,000 households         float64
Households in TA per 1,000 households               float64
Unnamed: 21                                         float64
Number of acceptances                               float64
Number in TA                                        float64
Households                                          float64
dtype: object

In [31]:
interim_df.tail(30)

,New ONS Code,Old ONS Code,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,Total decisions,...,Number in TA,Households,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
Local Authority,,,,,,,,,,,,,,,,,,,,,
Wokingham,E06000041,00MF,SE,59.601,0.0,8.0,22,8,9,47,...,0.0,0.0,LC,Con,46,1,6,NaN,NaN,1
Wolverhampton,E08000031,00CW,WM,100.622,0.0,324.0,10,111,249,694,...,0.0,0.0,LC,Lab,10,49,NaN,1,NaN,NaN
Worcester,E07000237,47UE,WM,41.306,0.0,183.0,16,219,40,458,...,0.0,0.0,LC,Lab (minority),17,16,NaN,NaN,2,NaN
Worcestershire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,LC,Con,40,10,3,NaN,2,"ICHC 1, Ind 1"
Worthing,E07000229,45UH,SE,46.044,0.0,20.0,0,3,6,29,...,0.0,0.0,LC,Con,30,1,2,2,1,1
Wychavon,E07000238,47UF,WM,49.083,0.0,102.0,9,10,18,139,...,0.0,0.0,LC,Con,39,NaN,5,1,NaN,NaN
Wycombe,E07000007,11UF,SE,67.146,0.0,79.0,32,41,11,163,...,0.0,0.0,LC,Con,47,6,1,1,NaN,5
Wyre,E07000128,30UQ,NW,46.980,0.0,7.0,2,12,42,63,...,0.0,0.0,LC,Con,36,14,NaN,NaN,NaN,NaN
Wyre Forest,E07000239,47UG,WM,42.356,0.0,96.0,5,148,3,252,...,0.0,0.0,LC,Con,22,4,2,NaN,NaN,"ICHC 2, Ind 3"
York,E06000014,00FF,YH,81.893,0.0,183.0,21,29,12,245,...,0.0,0.0,LC,Con + LD,14,15,12,NaN,4,2
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others

In [26]:
Local_Auth.dtypes

Local Authority    object
Exec               object
Control            object
 Con               object
Labour             object
LibDem             object
UKIP               object
Green              object
Others             object
dtype: object

In [32]:
pwd

'/Users/santanuchakrabarti/Documents/general_assembly/Working Files'