In [2]:
import pandas as pd
master_file = 'Master_File.xlsx'
Homeless = pd.read_excel(master_file)
Homeless.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Local Authority Homelessness Statistics (England),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Select a local authority:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Homeless1011 = pd.read_excel(master_file, sheet_name = 3, header = 2)
Homeless1011.head()

,New ONS Code,Old ONS Code,Local Authority,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 March,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,45UB,Adur,SE,26.730,NaN,90,15,16,17,...,89,3.329592,NaN,ENG,2.031087,2.218742,NaN,44160.0,48240.0,21742.054
1,E07000026,16UB,Allerdale,NW,41.955,NaN,104,40,61,129,...,20,0.476701,NaN,EE,1.765785,1.087828,NaN,4222.0,2601.0,2391.004
2,E07000032,17UB,Amber Valley,EM,52.007,NaN,46,4,10,74,...,11,0.211510,NaN,EM,1.808741,0.364528,NaN,3384.0,682.0,1870.915
3,E07000224,45UC,Arun,SE,66.274,NaN,79,35,15,67,...,57,0.860066,NaN,L,3.173548,11.176314,NaN,10180.0,35851.0,3207.766
4,E07000170,37UB,Ashfield,EM,49.948,NaN,25,11,6,19,...,4,0.080083,NaN,NE,1.667101,0.198400,NaN,1857.0,221.0,1113.910

In [1]:
Homeless1011 = pd.read_excel(master_file, sheet_name = 3, header = 2)
Homeless1011.head()

#for i in range (10) "homeless" + _i str (i)

NameError: name 'pd' is not defined

In [8]:
Homeless1011.shape

(326, 25)

In [9]:
Homeless1011.columns

Index(['New ONS Code', 'Old ONS Code', 'Local Authority', 'Region',
       'Number of households (000s, mid-2010)', 'Unnamed: 5',
       'Number of households accepted as homeless',
       'Number of households intentionally homeless',
       'Number of homeless households not priority',
       'Number of households not homeless', 'Total decisions',
       '% change in acceptances on previous year',
       '% of total decisions taken accepted as homeless',
       'Number accepted as homeless per 1,000 households', 'Unnamed: 14',
       'Number in TA at 31 March', 'Number in TA per 1,000 households',
       'Unnamed: 17', 'Region.1',
       'Statutory homelessness per 1,000 households',
       'Households in TA per 1,000 households', 'Unnamed: 21',
       'Number of acceptances', 'Number in TA', 'Households'],
      dtype='object')

Homeless1011.dtypes

In [10]:
Homeless1011['Number of households intentionally homeless']= pd.to_numeric(Homeless1011['Number of households intentionally homeless']
                                                                    ,errors='coerce')
Homeless1011.dtypes

New ONS Code                                         object
Old ONS Code                                         object
Local Authority                                      object
Region                                               object
Number of households (000s, mid-2010)               float64
Unnamed: 5                                          float64
Number of households accepted as homeless             int64
Number of households intentionally homeless         float64
Number of homeless households not priority           object
Number of households not homeless                    object
Total decisions                                      object
% change in acceptances on previous year            float64
% of total decisions taken accepted as homeless      object
Number accepted as homeless per 1,000 households    float64
Unnamed: 14                                         float64
Number in TA at 31 March                              int64
Number in TA per 1,000 households                   float64
Unnamed: 17                                         float64
Region.1                                             object
Statutory homelessness per 1,000 households         float64
Households in TA per 1,000 households               float64
Unnamed: 21                                         float64
Number of acceptances                               float64
Number in TA                                        float64
Households                                          float64
dtype: object

In [27]:
Homeless1011.astype(float)

ValueError: could not convert string to float: 'E07000223'

In [13]:
df['Number of households intentionally homeless'] = df['Number of households intentionally homeless'].astype(float)

NameError: name 'df' is not defined

In [11]:
import numpy as np
Homeless1011 = Homeless1011.replace(np.nan, 0, regex=True)#replaing NaN with 0
print(Homeless1011)

    New ONS Code Old ONS Code               Local Authority Region  \
0      E07000223         45UB                          Adur     SE
1      E07000026         16UB                     Allerdale     NW
2      E07000032         17UB                  Amber Valley     EM
3      E07000224         45UC                          Arun     SE
4      E07000170         37UB                      Ashfield     EM
5      E07000105         29UB                       Ashford     SE
6      E07000004         11UB                Aylesbury Vale     SE
7      E07000200         42UB                       Babergh     EE
8      E09000002         00AB          Barking and Dagenham      L
9      E09000003         00AC                        Barnet      L
10     E08000016         00CC                      Barnsley     YH
11     E07000027         16UC             Barrow-in-Furness     NW
12     E07000066         22UB                      Basildon     EE
13     E07000084         24UB         Basingstoke and Deane     SE
14     E07000171         37UC                     Bassetlaw     EM
15     E06000022         00HA  Bath and North East Somerset     SW
16     E06000055         00KB                       Bedford     EE
17     E09000004         00AD                        Bexley      L
18     E08000025         00CN                    Birmingham     WM
19     E07000129         31UB                         Blaby     EM
20     E06000008         00EX         Blackburn with Darwen     NW
21     E06000009         00EY                     Blackpool     NW
22     E07000033         17UC                      Bolsover     EM
23     E08000001         00BL                        Bolton     NW
24     E07000136         32UB                        Boston     EM
25     E06000028         00HN                   Bournemouth     SW
26     E06000036         00MA              Bracknell Forest     SE
27     E08000032         00CX                      Bradford     YH
28     E07000067         22UC                     Braintree     EE
29     E07000143         33UB                     Breckland     EE
..           ...          ...                           ...    ...
296    E07000103         26UK                       Watford     EE
297    E07000206         42UH                       Waveney     EE
298    E07000216         43UL                      Waverley     SE
299    E07000065         21UH                       Wealden     SE
300    E07000156         34UH                Wellingborough     EM
301    E07000241         26UL               Welwyn Hatfield     EE
302    E06000037         00MB                West Berkshire     SE
303    E07000047         18UL                    West Devon     SW
304    E07000052         19UH                   West Dorset     SW
305    E07000127         30UP               West Lancashire     NW
306    E07000142         32UH                  West Lindsey     EM
307    E07000181         38UF              West Oxfordshire     SE
308    E07000191         40UF                 West Somerset     SW
309    E09000033         00BK                   Westminster      L
310    E07000053         19UJ         Weymouth and Portland     SW
311    E08000010         00BW                         Wigan     NW
312    E06000054         00HY                     Wiltshire     SW
313    E07000094         24UP                    Winchester     SE
314    E06000040         00ME        Windsor and Maidenhead     SE
315    E08000015         00CB                        Wirral     NW
316    E07000217         43UM                        Woking     SE
317    E06000041         00MF                     Wokingham     SE
318    E08000031         00CW                 Wolverhampton     WM
319    E07000237         47UE                     Worcester     WM
320    E07000229         45UH                      Worthing     SE
321    E07000238         47UF                      Wychavon     WM
322    E07000007         11UF                       Wycombe     SE
323    E07000128         30UQ                          Wyre     NW
324    E07000239         47UG                   Wyre Forest     WM
325    E06000014         00FF                          York     YH

     Number of households (000s, mid-2010)  Unnamed: 5  \
0                                   26.730         0.0
1                                   41.955         0.0
2                                   52.007         0.0
3                                   66.274         0.0
4                                   49.948         0.0
5                                   46.812         0.0
6                                   68.278         0.0
7                                   37.175         0.0
8                                   68.432         0.0
9                                  133.531         0.0
10                                  98.752         0.0
11                                  30.984         0.0
12                                  72.098         0.0
13                                  68.103         0.0
14                                  47.397         0.0
15                                  72.637         0.0
16                                  62.949         0.0
17                                  91.752         0.0
18                                 404.007         0.0
19                                  38.274         0.0
20                                  56.410         0.0
21                                  63.905         0.0
22                                  32.193         0.0
23                                 114.131         0.0
24                                  26.956         0.0
25                                  79.412         0.0
26                                  45.118         0.0
27                                 194.939         0.0
28                                  60.236         0.0
29                                  54.097         0.0
..                                     ...         ...
296                                 35.458         0.0
297                                 50.699         0.0
298                                 48.765         0.0
299                                 62.038         0.0
300                                 31.603         0.0
301                                 43.180         0.0
302                                 61.784         0.0
303                                 22.408         0.0
304                                 43.885         0.0
305                                 45.032         0.0
306                                 38.044         0.0
307                                 42.931         0.0
308                                 15.670         0.0
309                                104.772         0.0
310                                 27.975         0.0
311                                134.360         0.0
312                                192.491         0.0
313                                 46.220         0.0
314                                 57.822         0.0
315                                138.589         0.0
316                                 38.904         0.0
317                                 59.601         0.0
318                                100.622         0.0
319                                 41.306         0.0
320                                 46.044         0.0
321                                 49.083         0.0
322                                 67.146         0.0
323                                 46.980         0.0
324                                 42.356         0.0
325                                 81.893         0.0

     Number of households accepted as homeless  \
0                                           90
1                                          104
2                                           46
3                                           79
4                                           25
5                                          194
6                                          112
7                                           46
8                                          221
9                                          251
10                                          56
11                                          26
12                                         232
13                                           1
14                                          27
15                                         100
16                                         107
17                                         204
18                                        4207
19                                           7
20                                          19
21                                          59
22                                          54
23                                         266
24                                          23
25                                          66
26                                          29
27                                         146
28                                         104
29                                          75
..                                         ...
296                                        117
297                                         64
298                                          2
299                                        127
300                                        143
301                                         92
302                                         17
303                                         12
304                                         28
305                                         54
306                                         43
307                                         12
308                                         31
309                                        463
310                                         23
311                                        223
312                                        240
313                                         19
314                                         23
315                                         77
316                                         17
317                                          8
318                                        324
319                                        183
320                                         20
321                                        102
322                                         79
323                                          7
324                                         96
325                                        183

     Number of households intentionally homeless  \
0                                           15.0
1                                           40.0
2                                            4.0
3                                           35.0
4                                           11.0
5                                           15.0
6                                            8.0
7                                            6.0
8                                           25.0
9                                           13.0
10                                           7.0
11                                          10.0
12                                          32.0
13                                          10.0
14                                          16.0
15                                           6.0
16                                          26.0
17                                          37.0
18                                         323.0
19                                           0.0
20                                           6.0
21                                          17.0
22                                           2.0
23                                          57.0
24                                           8.0
25                                           8.0
26                                           9.0
27                                          15.0
28                                          23.0
29                                          13.0
..                                           ...
296                                          8.0
297                                         48.0
298                                          6.0
299                                         11.0
300                                         14.0
301                                         16.0
302                                          9.0
303                                          6.0
304                                         13.0
305                                         26.0
306                                          1.0
307                                          7.0
308                                         10.0
309                                        146.0
310                                          7.0
311                                         31.0
312                                         12.0
313                                          4.0
314                                          1.0
315                                         30.0
316                                          1.0
317                                         22.0
318                                         10.0
319                                         16.0
320                                          0.0
321                                          9.0
322                                         32.0
323                                          2.0
324                                          5.0
325                                         21.0

    Number of homeless households not priority  \
0                                           16
1                                           61
2                                           10
3                                           15
4                                            6
5                                            8
6                                           27
7                                            5
8                                          197
9                                           76
10                                          29
11                                          48
12                                          34
13                                           7
14                                          15
15                                          13
16                                           4
17                                          56
18                                        1707
19                                           0
20                                          10
21                                        1068
22                                           2
23                                          40
24                                          12
25                                           5
26                                           3
27                                          26
28                                          25
29                                           4
..                                         ...
296                                          6
297                                          3
298                                          0
299                                         15
300                                         44
301                                        120
302                                          7
303                                          3
304                                          8
305                                         42
306                                          2
307                                          5
308                                         74
309                                        140
310                                          4
311                                        205
312                                         10
313                                          1
314                                          0
315                                         11
316                                          0
317                                          8
318                                        111
319                                        219
320                                          3
321                                         10
322                                         41
323                                         12
324                                        148
325                                         29

    Number of households not homeless  ... Number in TA at 31 March  \
0                                  17  ...                       89
1                                 129  ...                       20
2                                  74  ...                       11
3                                  67  ...                       57
4                                  19  ...                        4
5                                  56  ...                      105
6                                  22  ...                       12
7                                  20  ...                        4
8                                 269  ...                      704
9                                 224  ...                     2139
10                                313  ...                        5
11                                 68  ...                       10
12                                 13  ...                      227
13                                  2  ...                        4
14                                 61  ...                        3
15                                 39  ...                       27
16                                 75  ...                       29
17                                222  ...                      217
18                               2086  ...                      726
19                                  1  ...                        2
20                                 51  ...                        3
21                                 17  ...                       23
22                                  0  ...                        0
23                                244  ...                       48
24                                 36  ...                       17
25                                 23  ...                       10
26                                 10  ...                       19
27                                235  ...                       30
28                                 38  ...                       32
29                                 22  ...                       13
..                                ...  ...                      ...
296                                14  ...                       86
297                                 5  ...                       22
298                                 6  ...                        2
299                                 5  ...                       48
300                               129  ...                       34
301                                77  ...                       70
302                                 9  ...                       24
303                                 5  ...                        8
304                                34  ...                       19
305                                18  ...                        3
306                                14  ...                        3
307                                 8  ...                        5
308                                57  ...                        6
309                               289  ...                     1725
310                                13  ...                       50
311                               107  ...                       15
312                                 9  ...                      145
313                                 8  ...                       16
314                                 0  ...                       20
315                                77  ...                        6

In [30]:
Homeless1011_new = Homeless1011.drop(['Unnamed: 14','Unnamed: 17','Region.1',
                                     'Statutory homelessness per 1,000 households','Households in TA per 1,000 households',
                                    'Number of acceptances','Number in TA','Households'],axis=1)

In [29]:
Homeless1011[['Unnamed: 5']]

KeyError: "None of [Index(['Unnamed: 5'], dtype='object')] are in the [columns]"

In [19]:
Homeless1011.drop(columns=['Unnamed: 5'],inplace=True)

KeyError: "['Unnamed: 5'] not found in axis"

In [25]:
Local_Auth_File = 'Master File with All Data 20th Sep.xlsx'
Local_Auth = pd.read_excel(Local_Auth_File,header = 2)
Local_Auth.head()

   Local Authority Exec Control  Con    Labour  LibDem  UKIP  Green  Others
0  Buckinghamshire   LC     Con      41       1       4   NaN    NaN       3
1   Cambridgeshire   AA     Con      36       7      15   NaN    NaN       3
2          Cumbria   LC     NaN      37      26      16   NaN    NaN       5
3       Derbyshire   LC     Con      37      24       3   NaN    NaN     NaN
4            Devon   LC     Con      42       7       7   NaN      1       3

In [15]:
Local_Auth.rename(columns={'Unnamed: 0':'Local Authority'})

,Local Authority,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
0,Buckinghamshire,LC,Con,41,1,4,NaN,NaN,3
1,Cambridgeshire,AA,Con,36,7,15,NaN,NaN,3
2,Cumbria,LC,NaN,37,26,16,NaN,NaN,5
3,Derbyshire,LC,Con,37,24,3,NaN,NaN,NaN
4,Devon,LC,Con,42,7,7,NaN,1,3
5,Dorset,LC,Con,33,1,10,NaN,2,NaN
6,East Sussex,LC,Con,30,4,11,NaN,NaN,5
7,Essex,LC,Con,56,6,7,NaN,1,"Ind 4, RA 1"
8,Gloucestershire,LC,Con,31,5,14,NaN,2,1
9,Hampshire,LC,Con,56,2,19,NaN,NaN,1
10,Hertfordshire,LC,Con,51,9,18,NaN,NaN,NaN
11,Kent,LC,Con,67,5,7,NaN,1,RA 1
12,Lancashire,LC,Con,46,30,4,1,1,2
13,Leicestershire,LC,Con,36,6,13,NaN,NaN,NaN
14,Lincolnshire,LC,Con,58,6,1,NaN,NaN,5
15,Norfolk,LC,Con,55,17,11,NaN,NaN,1
16,North Yorkshire,LC,Con,55,4,3,NaN,NaN,10
17,Northamptonshire,LC,Con,43,13,1,NaN,NaN,NaN
18,Nottinghamshire,AA,NaN,31,23,1,NaN,NaN,11
19,Oxfordshire,LC,NaN,31,14,13,NaN,NaN,"Ind 4, RA 1"
20,Somerset,LC,Con,35,3,12,NaN,2,3
21,Staffordshire,LC,Con,51,10,NaN,NaN,NaN,1
22,Suffolk,LC,Con,52,11,5,NaN,3,4
23,Surrey,LC,Con,60,1,9,NaN,1,"RA 8, Ind 2"
24,Warwickshire,LC,Con,36,10,7,NaN,2,2
25,West Sussex,LC,Con,56,5,9,NaN,NaN,NaN
26,Worcestershire,LC,Con,40,10,3,NaN,2,"ICHC 1, Ind 1"
27,County Totals,NaN,1202,260,223,1,18,83,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
350,Thanet,LC,NaN,19,6,NaN,28,NaN,3
351,Three Rivers,LC,LDm,15,3,21,NaN,NaN,NaN
352,Tonbridge & Malling,LC,Con,48,NaN,4,NaN,NaN,2
353,Torridge,AA,NaN,18,1,3,5,2,7
354,Tunbridge Wells,LC,Con,43,2,2,NaN,NaN,1
355,Uttlesford,LC,Con,23,NaN,4,NaN,NaN,12
356,Vale of White Horse,LC,Con,29,NaN,9,NaN,NaN,NaN
357,Warwick,LC,Con,31,9,2,NaN,1,3
358,Watford,MC,LDm,NaN,11,25,NaN,NaN,NaN
359,Waveney,LC,Con,28,19,NaN,NaN,1,NaN
360,Waverley,LC,Con,50,NaN,1,NaN,NaN,6
361,Wealden,LC,Con,49,NaN,1,NaN,NaN,5
362,Wellingborough,AA,Con,27,9,NaN,NaN,NaN,NaN
363,Welwyn Hatfield,LC,Con,27,16,5,NaN,NaN,NaN
364,West Devon,AA,Con,21,NaN,NaN,NaN,NaN,10
365,West Dorset,LC,Con,31,NaN,11,NaN,NaN,NaN
366,West Lancashire,LC,Lab,21,31,NaN,NaN,NaN,2
367,West Lindsey,AA,Con,24,3,7,NaN,NaN,2
368,West Oxfordshire,LC,Con,40,4,5,NaN,NaN,NaN
369,West Somerset,LC,Con,20,1,2,3,NaN,2
370,Weymouth & Portland,AA,Con + Lab,14,12,6,1,2,1
371,Winchester,LC,Con,25,NaN,20,NaN,NaN,NaN
372,Woking,LC,Con,17,3,7,NaN,NaN,3
373,Worcester,LC,Lab (minority),17,16,NaN,NaN,2,NaN
374,Worthing,LC,Con,30,1,2,2,1,1
375,Wychavon,LC,Con,39,NaN,5,1,NaN,NaN
376,Wycombe,LC,Con,47,6,1,1,NaN,5
377,Wyre,LC,Con,36,14,NaN,NaN,NaN,NaN
378,Wyre Forest,LC,Con,22,4,2,NaN,NaN,"ICHC 2, Ind 3"
379,District Totals,NaN,5183,1591,885,233,82,596,NaN

In [9]:
Homeless1011.rename(columns={'Local Authority':'Unnamed:0'})

,New ONS Code,Old ONS Code,Unnamed:0,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 March,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,45UB,Adur,SE,26.730,NaN,90,15,16,17,...,89,3.329592,NaN,ENG,2.031087,2.218742,NaN,44160.0,48240.0,21742.054
1,E07000026,16UB,Allerdale,NW,41.955,NaN,104,40,61,129,...,20,0.476701,NaN,EE,1.765785,1.087828,NaN,4222.0,2601.0,2391.004
2,E07000032,17UB,Amber Valley,EM,52.007,NaN,46,4,10,74,...,11,0.211510,NaN,EM,1.808741,0.364528,NaN,3384.0,682.0,1870.915
3,E07000224,45UC,Arun,SE,66.274,NaN,79,35,15,67,...,57,0.860066,NaN,L,3.173548,11.176314,NaN,10180.0,35851.0,3207.766
4,E07000170,37UB,Ashfield,EM,49.948,NaN,25,11,6,19,...,4,0.080083,NaN,NE,1.667101,0.198400,NaN,1857.0,221.0,1113.910
5,E07000105,29UB,Ashford,SE,46.812,NaN,194,15,8,56,...,105,2.243015,NaN,NW,1.306660,0.311238,NaN,3875.0,923.0,2965.577
6,E07000004,11UB,Aylesbury Vale,SE,68.278,NaN,112,8,27,22,...,12,0.175752,NaN,SE,1.288521,1.043482,NaN,4517.0,3658.0,3505.570
7,E07000200,42UB,Babergh,EE,37.175,NaN,46,6,5,20,...,4,0.107599,NaN,SW,1.464403,0.913684,NaN,3268.0,2039.0,2231.626
8,E09000002,00AB,Barking and Dagenham,L,68.432,NaN,221,25,197,269,...,704,10.287585,NaN,WM,3.727122,0.600935,NaN,8435.0,1360.0,2263.140
9,E09000003,00AC,Barnet,L,133.531,NaN,251,13,76,224,...,2139,16.018752,NaN,YH,2.016377,0.410938,NaN,4421.0,901.0,2192.546
10,E08000016,00CC,Barnsley,YH,98.752,NaN,56,7,29,313,...,5,0.050632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,E07000027,16UC,Barrow-in-Furness,NW,30.984,NaN,26,10,48,68,...,10,0.322747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,E07000066,22UB,Basildon,EE,72.098,NaN,232,32,34,13,...,227,3.148492,NaN,Source:,NaN,NaN,NaN,NaN,NaN,NaN
13,E07000084,24UB,Basingstoke and Deane,SE,68.103,NaN,1,10,7,2,...,4,0.058735,NaN,"DCLG, Table 784",NaN,NaN,NaN,NaN,NaN,NaN
14,E07000171,37UC,Bassetlaw,EM,47.397,NaN,27,16,15,61,...,3,0.063295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,E06000022,00HA,Bath and North East Somerset,SW,72.637,NaN,100,6,13,39,...,27,0.371711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,E06000055,00KB,Bedford,EE,62.949,NaN,107,26,4,75,...,29,0.460690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,E09000004,00AD,Bexley,L,91.752,NaN,204,37,56,222,...,217,2.365071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,E08000025,00CN,Birmingham,WM,404.007,NaN,4207,323,1707,2086,...,726,1.796999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,E07000129,31UB,Blaby,EM,38.274,NaN,7,0,0,1,...,2,0.052255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,E06000008,00EX,Blackburn with Darwen,NW,56.410,NaN,19,6,10,51,...,3,0.053182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,E06000009,00EY,Blackpool,NW,63.905,NaN,59,17,1068,17,...,23,0.359909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,E07000033,17UC,Bolsover,EM,32.193,NaN,54,2,2,0,...,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,E08000001,00BL,Bolton,NW,114.131,NaN,266,57,40,244,...,48,0.420569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,E07000136,32UB,Boston,EM,26.956,NaN,23,8,12,36,...,17,0.630657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,E06000028,00HN,Bournemouth,SW,79.412,NaN,66,8,5,23,...,10,0.125926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,E06000036,00MA,Bracknell Forest,SE,45.118,NaN,29,9,3,10,...,19,0.421118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,E08000032,00CX,Bradford,YH,194.939,NaN,146,15,26,235,...,30,0.153894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,E07000067,22UC,Braintree,EE,60.236,NaN,104,23,25,38,...,32,0.531244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,E07000143,33UB,Breckland,EE,54.097,NaN,75,13,4,22,...,13,0.240309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,E07000103,26UK,Watford,EE,35.458,NaN,117,8,6,14,...,86,2.425405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,E07000206,42UH,Waveney,EE,50.699,NaN,64,48,3,5,...,22,0.433934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,E07000216,43UL,Waverley,SE,48.765,NaN,2,6,0,6,...,2,0.041013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,E07000065,21UH,Wealden,SE,62.038,NaN,127,11,15,5,...,48,0.773719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,E07000156,34UH,Wellingborough,EM,31.603,NaN,143,14,44,129,...,34,1.075847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,E07000241,26UL,Welwyn Hatfield,EE,43.180,NaN,92,16,120,77,...,70,1.621121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,E06000037,00MB,West Berkshire,SE,61.784,NaN,17,9,7,9,...,24,0.388450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,E07000047,18UL,West Devon,SW,22.408,NaN,12,6,3,5,...,8,0.357015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,E07000052,19UH,West Dorset,SW,43.885,NaN,28,13,8,34,...,19,0.432950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,E07000127,30UP,West Lancashire,NW,45.032,NaN,54,26,42,18,...,3,0.066619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,E07000142,32UH,West Lindsey,EM,38.044,NaN,43,1,2,14,...,3,0.078856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,E07000181,38UF,West Oxfordshire,SE,42.931,NaN,12,7,5,8,...,5,0.116466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,E07000191,40UF,West Somerset,SW,15.670,NaN,31,10,74,57,...,6,0.382897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,E09000033,00BK,Westminster,L,104.772,NaN,463,146,140,289,...,1725,16.464323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,E07000053,19UJ,Weymouth and Portland,SW,27.975,NaN,23,7,4,13,...,50,1.787310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,E08000010,00BW,Wigan,NW,134.360,NaN,223,31,205,107,...,15,0.111640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,E06000054,00HY,Wiltshire,SW,192.491,NaN,240,12,10,9,...,145,0.753282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,E07000094,24UP,Winchester,SE,46.220,NaN,19,4,1,8,...,16,0.346170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,E06000040,00ME,Windsor and Maidenhead,SE,57.822,NaN,23,1,0,0,...,20,0.345889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,E08000015,00CB,Wirral,NW,138.589,NaN,77,30,11,77,...,6,0.043293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,E07000217,43UM,Woking,SE,38.904,NaN,17,1,0,2,...,28,0.719720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,E06000041,00MF,Wokingham,SE,59.601,NaN,8,22,8,9,...,14,0.234895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,E08000031,00CW,Wolverhampton,WM,100.622,NaN,324,10,111,249,...,51,0.506847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,E07000237,47UE,Worcester,WM,41.306,NaN,183,16,219,40,...,50,1.210478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,E07000229,45UH,Worthing,SE,46.044,NaN,20,0,3,6,...,33,0.716706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,E07000238,47UF,Wychavon,WM,49.083,NaN,102,9,10,18,...,16,0.325978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,E07000007,11UF,Wycombe,SE,67.146,NaN,79,32,41,11,...,61,0.908468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,E07000128,30UQ,Wyre,NW,46.980,NaN,7,2,12,42,...,1,0.021286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,E07000239,47UG,Wyre Forest,WM,42.356,NaN,96,5,148,3,...,17,0.401360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,E06000014,00FF,York,YH,81.893,NaN,183,21,29,12,...,94,1.147839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
Homeless1011.rename(columns={'Unnamed:0':'Local Authority'})

,New ONS Code,Old ONS Code,Local Authority,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,...,Number in TA at 31 March,"Number in TA per 1,000 households",Unnamed: 17,Region.1,"Statutory homelessness per 1,000 households","Households in TA per 1,000 households",Unnamed: 21,Number of acceptances,Number in TA,Households
0,E07000223,45UB,Adur,SE,26.730,NaN,90,15,16,17,...,89,3.329592,NaN,ENG,2.031087,2.218742,NaN,44160.0,48240.0,21742.054
1,E07000026,16UB,Allerdale,NW,41.955,NaN,104,40,61,129,...,20,0.476701,NaN,EE,1.765785,1.087828,NaN,4222.0,2601.0,2391.004
2,E07000032,17UB,Amber Valley,EM,52.007,NaN,46,4,10,74,...,11,0.211510,NaN,EM,1.808741,0.364528,NaN,3384.0,682.0,1870.915
3,E07000224,45UC,Arun,SE,66.274,NaN,79,35,15,67,...,57,0.860066,NaN,L,3.173548,11.176314,NaN,10180.0,35851.0,3207.766
4,E07000170,37UB,Ashfield,EM,49.948,NaN,25,11,6,19,...,4,0.080083,NaN,NE,1.667101,0.198400,NaN,1857.0,221.0,1113.910
5,E07000105,29UB,Ashford,SE,46.812,NaN,194,15,8,56,...,105,2.243015,NaN,NW,1.306660,0.311238,NaN,3875.0,923.0,2965.577
6,E07000004,11UB,Aylesbury Vale,SE,68.278,NaN,112,8,27,22,...,12,0.175752,NaN,SE,1.288521,1.043482,NaN,4517.0,3658.0,3505.570
7,E07000200,42UB,Babergh,EE,37.175,NaN,46,6,5,20,...,4,0.107599,NaN,SW,1.464403,0.913684,NaN,3268.0,2039.0,2231.626
8,E09000002,00AB,Barking and Dagenham,L,68.432,NaN,221,25,197,269,...,704,10.287585,NaN,WM,3.727122,0.600935,NaN,8435.0,1360.0,2263.140
9,E09000003,00AC,Barnet,L,133.531,NaN,251,13,76,224,...,2139,16.018752,NaN,YH,2.016377,0.410938,NaN,4421.0,901.0,2192.546
10,E08000016,00CC,Barnsley,YH,98.752,NaN,56,7,29,313,...,5,0.050632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,E07000027,16UC,Barrow-in-Furness,NW,30.984,NaN,26,10,48,68,...,10,0.322747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,E07000066,22UB,Basildon,EE,72.098,NaN,232,32,34,13,...,227,3.148492,NaN,Source:,NaN,NaN,NaN,NaN,NaN,NaN
13,E07000084,24UB,Basingstoke and Deane,SE,68.103,NaN,1,10,7,2,...,4,0.058735,NaN,"DCLG, Table 784",NaN,NaN,NaN,NaN,NaN,NaN
14,E07000171,37UC,Bassetlaw,EM,47.397,NaN,27,16,15,61,...,3,0.063295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,E06000022,00HA,Bath and North East Somerset,SW,72.637,NaN,100,6,13,39,...,27,0.371711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,E06000055,00KB,Bedford,EE,62.949,NaN,107,26,4,75,...,29,0.460690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,E09000004,00AD,Bexley,L,91.752,NaN,204,37,56,222,...,217,2.365071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,E08000025,00CN,Birmingham,WM,404.007,NaN,4207,323,1707,2086,...,726,1.796999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,E07000129,31UB,Blaby,EM,38.274,NaN,7,0,0,1,...,2,0.052255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,E06000008,00EX,Blackburn with Darwen,NW,56.410,NaN,19,6,10,51,...,3,0.053182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,E06000009,00EY,Blackpool,NW,63.905,NaN,59,17,1068,17,...,23,0.359909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,E07000033,17UC,Bolsover,EM,32.193,NaN,54,2,2,0,...,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,E08000001,00BL,Bolton,NW,114.131,NaN,266,57,40,244,...,48,0.420569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,E07000136,32UB,Boston,EM,26.956,NaN,23,8,12,36,...,17,0.630657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,E06000028,00HN,Bournemouth,SW,79.412,NaN,66,8,5,23,...,10,0.125926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,E06000036,00MA,Bracknell Forest,SE,45.118,NaN,29,9,3,10,...,19,0.421118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,E08000032,00CX,Bradford,YH,194.939,NaN,146,15,26,235,...,30,0.153894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,E07000067,22UC,Braintree,EE,60.236,NaN,104,23,25,38,...,32,0.531244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,E07000143,33UB,Breckland,EE,54.097,NaN,75,13,4,22,...,13,0.240309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,E07000103,26UK,Watford,EE,35.458,NaN,117,8,6,14,...,86,2.425405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,E07000206,42UH,Waveney,EE,50.699,NaN,64,48,3,5,...,22,0.433934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,E07000216,43UL,Waverley,SE,48.765,NaN,2,6,0,6,...,2,0.041013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,E07000065,21UH,Wealden,SE,62.038,NaN,127,11,15,5,...,48,0.773719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,E07000156,34UH,Wellingborough,EM,31.603,NaN,143,14,44,129,...,34,1.075847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,E07000241,26UL,Welwyn Hatfield,EE,43.180,NaN,92,16,120,77,...,70,1.621121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,E06000037,00MB,West Berkshire,SE,61.784,NaN,17,9,7,9,...,24,0.388450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,E07000047,18UL,West Devon,SW,22.408,NaN,12,6,3,5,...,8,0.357015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,E07000052,19UH,West Dorset,SW,43.885,NaN,28,13,8,34,...,19,0.432950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,E07000127,30UP,West Lancashire,NW,45.032,NaN,54,26,42,18,...,3,0.066619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,E07000142,32UH,West Lindsey,EM,38.044,NaN,43,1,2,14,...,3,0.078856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,E07000181,38UF,West Oxfordshire,SE,42.931,NaN,12,7,5,8,...,5,0.116466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,E07000191,40UF,West Somerset,SW,15.670,NaN,31,10,74,57,...,6,0.382897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,E09000033,00BK,Westminster,L,104.772,NaN,463,146,140,289,...,1725,16.464323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,E07000053,19UJ,Weymouth and Portland,SW,27.975,NaN,23,7,4,13,...,50,1.787310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,E08000010,00BW,Wigan,NW,134.360,NaN,223,31,205,107,...,15,0.111640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,E06000054,00HY,Wiltshire,SW,192.491,NaN,240,12,10,9,...,145,0.753282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,E07000094,24UP,Winchester,SE,46.220,NaN,19,4,1,8,...,16,0.346170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,E06000040,00ME,Windsor and Maidenhead,SE,57.822,NaN,23,1,0,0,...,20,0.345889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,E08000015,00CB,Wirral,NW,138.589,NaN,77,30,11,77,...,6,0.043293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,E07000217,43UM,Woking,SE,38.904,NaN,17,1,0,2,...,28,0.719720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,E06000041,00MF,Wokingham,SE,59.601,NaN,8,22,8,9,...,14,0.234895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,E08000031,00CW,Wolverhampton,WM,100.622,NaN,324,10,111,249,...,51,0.506847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,E07000237,47UE,Worcester,WM,41.306,NaN,183,16,219,40,...,50,1.210478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,E07000229,45UH,Worthing,SE,46.044,NaN,20,0,3,6,...,33,0.716706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,E07000238,47UF,Wychavon,WM,49.083,NaN,102,9,10,18,...,16,0.325978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,E07000007,11UF,Wycombe,SE,67.146,NaN,79,32,41,11,...,61,0.908468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,E07000128,30UQ,Wyre,NW,46.980,NaN,7,2,12,42,...,1,0.021286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,E07000239,47UG,Wyre Forest,WM,42.356,NaN,96,5,148,3,...,17,0.401360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,E06000014,00FF,York,YH,81.893,NaN,183,21,29,12,...,94,1.147839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import pandas as pd

In [ ]:
dtypes

In [28]:
df1 = Homeless1011.set_index('Local Authority')
df2 = Local_Auth.set_index('Local Authority')
display('df1','df2')

'df1'

'df2'

In [29]:
display('df1','df2',"pd.merge(df1,df2,left_index=True,right_index=True)")

'df1'

'df2'

'pd.merge(df1,df2,left_index=True,right_index=True)'

In [36]:
interim_df=pd.merge(df1,df2,left_index=True,right_index=True)
interim_df.shape

(299, 32)

In [33]:
pd.merge(df1,df2,left_index=True,right_index=True)

,New ONS Code,Old ONS Code,Region,"Number of households (000s, mid-2010)",Unnamed: 5,Number of households accepted as homeless,Number of households intentionally homeless,Number of homeless households not priority,Number of households not homeless,Total decisions,...,Number in TA,Households,Exec,Control,Con,Labour,LibDem,UKIP,Green,Others
Local Authority,,,,,,,,,,,,,,,,,,,,,
Adur,E07000223,45UB,SE,26.730,NaN,90,15,16,17,138,...,48240.0,21742.054,LC,Con,16,4,NaN,7,NaN,2
Allerdale,E07000026,16UB,NW,41.955,NaN,104,40,61,129,334,...,2601.0,2391.004,LC,Lab,15,29,NaN,3,NaN,9
Amber Valley,E07000032,17UB,EM,52.007,NaN,46,4,10,74,134,...,682.0,1870.915,LC,Con,23,22,NaN,NaN,NaN,NaN
Arun,E07000224,45UC,SE,66.274,NaN,79,35,15,67,196,...,35851.0,3207.766,LC,Con,40,1,7,4,NaN,2
Ashfield,E07000170,37UB,EM,49.948,NaN,25,11,6,19,61,...,221.0,1113.910,LC,Lab,4,21,5,NaN,NaN,5
Ashford,E07000105,29UB,SE,46.812,NaN,194,15,8,56,273,...,923.0,2965.577,LC,Con,34,3,1,2,NaN,3
Aylesbury Vale,E07000004,11UB,SE,68.278,NaN,112,8,27,22,169,...,3658.0,3505.570,LC,Con,42,2,11,3,NaN,1
Babergh,E07000200,42UB,EE,37.175,NaN,46,6,5,20,77,...,2039.0,2231.626,AA,Con,30,2,3,NaN,NaN,8
Barnet,E09000003,00AC,L,133.531,NaN,251,13,76,224,564,...,901.0,2192.546,LC,NaN,31,30,1,NaN,NaN,1
Barnsley,E08000016,00CC,YH,98.752,NaN,56,7,29,313,405,...,NaN,NaN,LC,Lab,4,55,NaN,NaN,NaN,4
Barrow-in-Furness,E07000027,16UC,NW,30.984,NaN,26,10,48,68,152,...,NaN,NaN,AA,Lab,8,28,NaN,NaN,NaN,NaN
Basildon,E07000066,22UB,EE,72.098,NaN,232,32,34,13,311,...,NaN,NaN,LC,Con (minority),18,9,NaN,10,NaN,5
Bassetlaw,E07000171,37UC,EM,47.397,NaN,27,16,15,61,119,...,NaN,NaN,LC,Lab,12,33,NaN,NaN,NaN,3
Bedford,E06000055,00KB,EE,62.949,NaN,107,26,4,75,212,...,NaN,NaN,MC,LD + Lab,15,14,9,NaN,NaN,2
Bexley,E09000004,00AD,L,91.752,NaN,204,37,56,222,519,...,NaN,NaN,LC,Con,45,15,NaN,3,NaN,NaN
Birmingham,E08000025,00CN,WM,404.007,NaN,4207,323,1707,2086,8323,...,NaN,NaN,LC,Lab,29,80,10,NaN,NaN,1
Blaby,E07000129,31UB,EM,38.274,NaN,7,0,0,1,8,...,NaN,NaN,LC,Con,29,6,4,NaN,NaN,NaN
Blackburn with Darwen,E06000008,00EX,NW,56.410,NaN,19,6,10,51,86,...,NaN,NaN,LC,Lab,16,44,3,NaN,NaN,1
Blackpool,E06000009,00EY,NW,63.905,NaN,59,17,1068,17,1161,...,NaN,NaN,LC,Lab,13,29,NaN,NaN,NaN,NaN
Bolsover,E07000033,17UC,EM,32.193,NaN,54,2,2,0,58,...,NaN,NaN,LC,Lab,NaN,32,NaN,NaN,NaN,5
Bolton,E08000001,00BL,NW,114.131,NaN,266,57,40,244,607,...,NaN,NaN,LC,Lab,16,35,3,5,NaN,1
Boston,E07000136,32UB,EM,26.956,NaN,23,8,12,36,79,...,NaN,NaN,LC,Con (minority),13,2,NaN,13,NaN,2
Bournemouth,E06000028,00HN,SW,79.412,NaN,66,8,5,23,102,...,NaN,NaN,LC,Con,52,NaN,NaN,NaN,1,1
Bracknell Forest,E06000036,00MA,SE,45.118,NaN,29,9,3,10,51,...,NaN,NaN,LC,Con,41,1,NaN,NaN,NaN,NaN
Bradford,E08000032,00CX,YH,194.939,NaN,146,15,26,235,422,...,NaN,NaN,LC,Lab,21,49,10,1,3,6
Braintree,E07000067,22UC,EE,60.236,NaN,104,23,25,38,190,...,NaN,NaN,LC,Con,43,3,NaN,NaN,1,RA 2
Breckland,E07000143,33UB,EE,54.097,NaN,75,13,4,22,114,...,NaN,NaN,LC,Con,41,3,NaN,4,NaN,1
Brent,E09000005,00AE,L,108.014,NaN,334,39,137,416,926,...,NaN,NaN,LC,Lab,6,56,1,NaN,NaN,NaN
Brentwood,E07000068,22UD,EE,30.160,NaN,27,4,3,12,46,...,NaN,NaN,AA,Con,24,2,10,NaN,NaN,1
Broadland,E07000144,33UC,EE,52.765,NaN,153,6,6,36,201,...,NaN,NaN,LC,Con,42,NaN,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Warrington,E06000007,00EU,NW,84.000,NaN,201,16,2,19,238,...,NaN,NaN,LC,Lab,1,45,12,NaN,NaN,NaN
Warwick,E07000222,44UF,WM,58.206,NaN,109,26,175,329,639,...,NaN,NaN,LC,Con,31,9,2,NaN,1,3
Watford,E07000103,26UK,EE,35.458,NaN,117,8,6,14,145,...,NaN,NaN,MC,LDm,NaN,11,25,NaN,NaN,NaN
Waveney,E07000206,42UH,EE,50.699,NaN,64,48,3,5,120,...,NaN,NaN,LC,Con,28,19,NaN,NaN,1,NaN
Waverley,E07000216,43UL,SE,48.765,NaN,2,6,0,6,14,...,NaN,NaN,LC,Con,50,NaN,1,NaN,NaN,6
Wealden,E07000065,21UH,SE,62.038,NaN,127,11,15,5,158,...,NaN,NaN,LC,Con,49,NaN,1,NaN,NaN,5
Wellingborough,E07000156,34UH,EM,31.603,NaN,143,14,44,129,330,...,NaN,NaN,AA,Con,27,9,NaN,NaN,NaN,NaN
Welwyn Hatfield,E07000241,26UL,EE,43.180,NaN,92,16,120,77,305,...,NaN,NaN,LC,Con,27,16,5,NaN,NaN,NaN
West Berkshire,E06000037,00MB,SE,61.784,NaN,17,9,7,9,42,...,NaN,NaN,LC,Con,47,NaN,5,NaN,NaN,NaN
West Devon,E07000047,18UL,SW,22.408,NaN,12,6,3,5,26,...,NaN,NaN,AA,Con,21,NaN,NaN,NaN,NaN,10
West Dorset,E07000052,19UH,SW,43.885,NaN,28,13,8,34,83,...,NaN,NaN,LC,Con,31,NaN,11,NaN,NaN,NaN
West Lancashire,E07000127,30UP,NW,45.032,NaN,54,26,42,18,140,...,NaN,NaN,LC,Lab,21,31,NaN,NaN,NaN,2
West Lindsey,E07000142,32UH,EM,38.044,NaN,43,1,2,14,60,...,NaN,NaN,AA,Con,24,3,7,NaN,NaN,2
West Oxfordshire,E07000181,38UF,SE,42.931,NaN,12,7,5,8,32,...,NaN,NaN,LC,Con,40,4,5,NaN,NaN,NaN
West Somerset,E07000191,40UF,SW,15.670,NaN,31,10,74,57,172,...,NaN,NaN,LC,Con,20,1,2,3,NaN,2
Westminster,E09000033,00BK,L,104.772,NaN,463,146,140,289,1038,...,NaN,NaN,LC,Con,44,16,NaN,NaN,NaN,NaN
Wigan,E08000010,00BW,NW,134.360,NaN,223,31,205,107,566,...,NaN,NaN,LC,Lab,5,65,NaN,NaN,NaN,5
Wiltshire,E06000054,00HY,SW,192.491,NaN,240,12,10,9,271,...,NaN,NaN,LC,Con,68,3,20,NaN,NaN,7
Winchester,E07000094,24UP,SE,46.220,NaN,19,4,1,8,32,...,NaN,NaN,LC,Con,25,NaN,20,NaN,NaN,NaN
Wirral,E08000015,00CB,NW,138.589,NaN,77,30,11,77,195,...,NaN,NaN,LC,Lab,21,39,5,NaN,1,NaN
Woking,E07000217,43UM,SE,38.904,NaN,17,1,0,2,20,...,NaN,NaN,LC,Con,17,3,7,NaN,NaN,3
Wokingham,E06000041,00MF,SE,59.601,NaN,8,22,8,9,47,...,NaN,NaN,LC,Con,46,1,6,NaN,NaN,1
Wolverhampton,E08000031,00CW,WM,100.622,NaN,324,10,111,249,694,...,NaN,NaN,LC,Lab,10,49,NaN,1,NaN,NaN
Worcester,E07000237,47UE,WM,41.306,NaN,183,16,219,40,458,...,NaN,NaN,LC,Lab (minority),17,16,NaN,NaN,2,NaN
Worthing,E07000229,45UH,SE,46.044,NaN,20,0,3,6,29,...,NaN,NaN,LC,Con,30,1,2,2,1,1
Wychavon,E07000238,47UF,WM,49.083,NaN,102,9,10,18,139,...,NaN,NaN,LC,Con,39,NaN,5,1,NaN,NaN
Wycombe,E07000007,11UF,SE,67.146,NaN,79,32,41,11,163,...,NaN,NaN,LC,Con,47,6,1,1,NaN,5
Wyre,E07000128,30UQ,NW,46.980,NaN,7,2,12,42,63,...,NaN,NaN,LC,Con,36,14,NaN,NaN,NaN,NaN
Wyre Forest,E07000239,47UG,WM,42.356,NaN,96,5,148,3,252,...,NaN,NaN,LC,Con,22,4,2,NaN,NaN,"ICHC 2, Ind 3"
York,E06000014,00FF,YH,81.893,NaN,183,21,29,12,245,...,NaN,NaN,LC,Con + LD,14,15,12,NaN,4,2

In [34]:
interim1_df = pd.merge(df1,df2,left_index=True,right_index=True)
interim_df.shape

NameError: name 'interim_df' is not defined

In [23]:
Homeless1011.dtypes

New ONS Code                                         object
Old ONS Code                                         object
Local Authority                                      object
Region                                               object
Number of households (000s, mid-2010)               float64
Unnamed: 5                                          float64
Number of households accepted as homeless             int64
Number of households intentionally homeless          object
Number of homeless households not priority           object
Number of households not homeless                    object
Total decisions                                      object
% change in acceptances on previous year            float64
% of total decisions taken accepted as homeless      object
Number accepted as homeless per 1,000 households    float64
Unnamed: 14                                         float64
Number in TA at 31 March                              int64
Number in TA per 1,000 households                   float64
Unnamed: 17                                         float64
Region.1                                             object
Statutory homelessness per 1,000 households         float64
Households in TA per 1,000 households               float64
Unnamed: 21                                         float64
Number of acceptances                               float64
Number in TA                                        float64
Households                                          float64
dtype: object

In [26]:
Local_Auth.dtypes

Local Authority    object
Exec               object
Control            object
 Con               object
Labour             object
LibDem             object
UKIP               object
Green              object
Others             object
dtype: object